<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>theater-list</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/mg_movie/bbs/resources/stylesheets/notice.css}">
    <script defer th:src="@{/manager/scripts/management.js}"></script>
    <script type="text/javascript"
            src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=94a12e6ae62af8fbc88e09e7433d6c08"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<div class="page-util" id="pageUtil">
    <div class="inner-wrap">
        <div class="location">
            <a th:href="@{/static}">Home</a>
            <a th:href="@{/theater/list}">극장</a>
            <a th:href="@{/theater/list}">전체극장</a>
        </div>
    </div>
</div>
<form id="form" class="form">
    <div class="container">
        <div class="inner-wrap">
            <div class="content">
                <h2 class="tit">회원관리</h2>
                <div class="board-list">
                    <p class="result-count">
                        <strong>
                            전체
                            <em th:text="${userCount}"></em>
                        </strong>
                    </p>
                    <div class="empty-box"></div>
                    <form id="searchForm" class="search-form" method="get">
                        <div class="selectBox" id="theaterSelect">
                            <label class="label">
                                <span hidden>검색 기준</span>
                                <select id="theater" class="select" name="criterion" th:with="criterion = ${#request.getParameter('criterion')}">
                                    <option value="all"  th:selected="${criterion == null || criterion.equals('all')}">id + name</option>
                                    <option value="id" th:selected="${criterion != null && criterion.equals('id')}">name</option>
                                    <option value="name" th:selected="${criterion != null && criterion.equals('name')}">id</option>
                                </select>
                            </label>
                            <span class="icoArrow"><i class="fa-solid fa-angle-down"></i></span>
                        </div>
                        <label class="label">
                            <span hidden>검색어</span>
                            <div class="board-search">
                                <input type="text" id="searchTxt" placeholder="검색어를 입력해 주세요" class="input-text"
                                       name="keyword"
                                       maxlength="15" th:value="${#request.getParameter('keyword')}">
                                <button type="submit" id="searchBtn" class="btn-search-input" value="검색"></button>
                            </div>
                        </label>
                    </form>
                </div>
                <div class="table-wrap">
                    <table class="board">
                        <caption>

                        </caption>
                        <colgroup>
                            <col style="width: 70px;">
                            <col style="width: 120px;">
                            <col style="width: 150px;">
                            <col style="width: 200px;">
                            <col style="width: 300px;">
                            <col style="width: 300px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="check" scope="col"><input class="chkAll" name="chkBox" type="checkbox"></th>
                            <th scope="col">아이디</th>
                            <th scope="col">연락처</th>
                            <th scope="col">이름</th>
                            <th scope="col">이메일</th>
                            <th scope="col">가입일</th>
                        </tr>
                        <tbody>
                        <tr th:each="user : ${users}" class="line" rel="line">
                            <td class="check">
                                <label for="checkBox">
                                    <input class="chkBox" name="color" th:value="${user.getEmail()}" type="checkbox" rel="checkbox" id="checkBox">
                                </label>
                            </td>
                            <td th:text="${user.getId()}">ljh5968</td>
                            <td th:text="${user.getContact()}">01064056966</td>
                            <td th:text="${user.getName()}">이승현</td>
                            <td th:text="${user.getEmail()}">ljh5968@naver.com</td>
                            <td th:text="${#dates.format(user.getRegisteredOn(), 'yyyy-MM-dd')}">12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-container"
                     th:with="urlBuilder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                    <a class="page"
                       th:href="@{${urlBuilder.replaceQueryParam('page', 1).build().toUriString()}}"
                       th:if="${paging.requestPage > 1}">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                    <a class="page"
                       th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage - 1).build().toUriString()}}"
                       th:if="${paging.requestPage > 1}">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a class="page" id="pageNumber" th:style="${page == paging.requestPage ? 'background-color: #01738b; color: white;' : ''}"
                       th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}"
                       th:class="${'page ' + (page == paging.requestPage ? 'selected' : '')}"
                       th:text="${page}"
                       th:href="@{${urlBuilder.replaceQueryParam('page', page).build().toUriString()}}"></a>
                    <a class="page"
                       th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage + 1).build().toUriString()}}"
                       th:if="${paging.requestPage < paging.maxPage}">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                    <a class="page"
                       th:href="@{${urlBuilder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}"
                       th:if="${paging.requestPage < paging.maxPage}">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                    <div class="writeButton">
                        <button type="button" id="writeBtn" class="button" rel="cancel">삭제
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>