<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.babsang.megabox.mappers.IBbsMapper">


    <select id="selectBoardById"
            resultType="dev.babsang.megabox.entities.bbs.BoardsEntity">
        select `id`   AS `id`,
               `text` AS `text`
        FROM `mg_bbs`.boards
        WHERE binary `id` = #{id}
        LIMIT 1
    </select>

    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.babsang.megabox.entities.bbs.ArticleEntity">
        INSERT INTO `mg_bbs`.`article` (board_id, user_id, sort, region, branch, title, content, written_on,
                                        modified_on)
        VALUES (#{boardId}, #{userId}, #{sort}, #{region}, #{branch}, #{title}, #{content},
                IFNULL(#{writtenOn}, DEFAULT(`written_on`)),
                IFNULL(#{modifiedOn}, DEFAULT(`modified_on`)))
    </insert>

    <select id="selectArticleByIndex"
            resultType="dev.babsang.megabox.entities.bbs.ArticleEntity">
        SELECT `index`       AS `index`,
               `board_id`    AS `boardId`,
               `user_id`     AS `userId`,
               `sort`        AS `sort`,
               `region`      as `region`,
               `branch`      as `branch`,
               `title`       AS `title`,
               `content`     AS `content`,
               `written_on`  AS `writtenOn`,
               `modified_on` AS `modifiedOn`
        FROM `mg_bbs`.`article` AS `article`
        WHERE BINARY `index` = #{index}
        LIMIT 1
    </select>

    <update id="updateArticle"
            parameterType="dev.babsang.megabox.entities.bbs.ArticleEntity">
        UPDATE `mg_bbs`.`article`
        SET `board_id`    = #{boardId},
            `user_id`     = #{userId},
            `sort`        = #{sort},
            `region`      = #{region},
            `branch`      = #{branch},
            `title`       = #{title},
            `content`     = #{content},
            `written_on`  = #{writtenOn},
            `modified_on` = #{modifiedOn}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <select id="selectArticle" resultType="dev.babsang.megabox.entities.bbs.ArticleEntity">
        select `index`       as `index`,
               `board_id`    as `boardId`,
               `user_id`     as `userId`,
               `sort`        as `sort`,
               `region`      as `region`,
               `branch`      as `branch`,
               `title`       as `title`,
               `content`     as `content`,
               `written_on`  as `writtenOn`,
               `modified_on` as `modifiedOn`
        from mg_bbs.article
    </select>

    <select id="selectArticleIndex" resultType="dev.babsang.megabox.vos.bbs.BbsIndexCountVo">
        select `index`        as `index`,
               `board_id`     as `boardId`,
               `user_id`      as `userId`,
               `sort`         as `sort`,
               `region`       as `region`,
               `branch`       as `branch`,
               `title`        as `title`,
               `content`      as `content`,
               `written_on`   as `writtenOn`,
               `modified_on`  as `modifiedOn`,
               COUNT(`index`) as `indexCount`
        from mg_bbs.article
        GROUP BY `index`
        ORDER BY `index` desc
    </select>

    <select id="selectArticleIndex1" resultType="dev.babsang.megabox.vos.bbs.BbsIndexCountVo">
        select `index`        as `index`,
               `board_id`     as `boardId`,
               `user_id`      as `userId`,
               `sort`         as `sort`,
               `region`       as `region`,
               `branch`       as `branch`,
               `title`        as `title`,
               `content`      as `content`,
               `written_on`   as `writtenOn`,
               `modified_on`  as `modifiedOn`,
               COUNT(`index`) as `indexCount`
        from mg_bbs.article
        GROUP BY `index`
        ORDER BY `index` desc
        limit 1
    </select>

    <insert id="insertImage"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.babsang.megabox.entities.bbs.ImageEntity">
        INSERT INTO `mg_bbs`.`images` (file_name, file_mime, data)
        VALUES (#{fileName}, #{fileMime}, #{data})
    </insert>

    <select id="selectImageByIndex"
            resultType="dev.babsang.megabox.entities.bbs.ImageEntity">
        SELECT `index`     AS `index`,
               `file_name` AS `fileName`,
               `file_mime` AS `fileMime`,
               `data`      AS `data`
        FROM `mg_bbs`.`images`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <delete id="deleteArticleByIndex">
        DELETE
        FROM `mg_bbs`.article
        WHERE `index` = #{index}
        LIMIT 1
    </delete>

    <!--    where branch != {branch}-->
    <!--    if test keyword != null-->
    <!--    AND Replace('keyword',")-->


    <select id="selectArticleByIndexNext"
            resultType="dev.babsang.megabox.vos.bbs.PrevNextVo">
        SELECT `index`       AS `index`,
               `board_id`    AS `boardId`,
               `user_id`     AS `userId`,
               `sort`        AS `sort`,
               `region`      as `region`,
               `branch`      as `branch`,
               `title`       as `title`,
               `content`     AS `content`,
               `written_on`  AS `writtenOn`,
               `modified_on` AS `modifiedOn`
        FROM `mg_bbs`.`article` AS `article`
        WHERE `index` BETWEEN (#{index} - 1) AND (#{index} + 1)
        ORDER BY `index`
        limit 3
    </select>

    <!--    페이징-->

    <select id="selectArticleCountByBoardId"
            resultType="int">
        SELECT COUNT(0)
        FROM `mg_bbs`.`article`
        WHERE `board_id` = #{boardId}
        <if test="criterion != null and criterion.equals('title')">
            AND REPLACE(`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
        <if test="criterion != null and criterion.equals('all')">
            AND REPLACE(`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
            OR REPLACE(`content`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
        <if test="criterion != null and criterion.equals('branch')">
            AND REPLACE(`branch`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
    </select>

    <select id="selectArticlesByBoardId"
            resultType="dev.babsang.megabox.entities.bbs.ArticleEntity">
        SELECT
        `index` AS `index`,
        `board_id` AS `boardId`,
        `user_id` AS `userId`,
        `sort` AS `sort`,
        `region` as `region`,
        `branch` as `branch`,
        `title` as `title`,
        `content` AS `content`,
        `written_on` AS `writtenOn`,
        `modified_on` AS `modifiedOn`
        FROM `mg_bbs`.`article` AS `article`
        WHERE `board_id` = #{boardId}
        <if test="criterion != null and criterion.equals('title')">
            AND REPLACE(`article`.`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
        <if test="criterion != null and criterion.equals('all')">
            AND REPLACE(`article`.`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
            OR REPLACE(`article`.`content`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
        <if test="criterion != null and criterion.equals('branch')">
            AND REPLACE(`branch`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
        group by article.`index`
        ORDER BY article.`index` asc
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>
