<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.babsang.megabox.mappers.IMovieMapper">
    <select id="selectMovieCommentByMid"
            resultType="dev.babsang.megabox.vos.movie.MovieCommentVo">
        SELECT `index`           AS `index`,
               `user_id`         AS `userId`,
               `movie_index`     AS `mid`,
               `score`           AS `score`,
               `recommend_point` AS `recommendPoint`,
               `content`         AS `content`,
               `written_on`      AS `writtenOn`,
               count(`index`)    AS `commentCnt`
        FROM `mg_movie`.`movie_comment`
        WHERE `movie_index` = #{mid}
        GROUP BY `index`
        LIMIT 1
    </select>

    <select id="selectMovieCommentsByMid"
            resultType="dev.babsang.megabox.entities.movie.MovieCommentEntity">
        SELECT `index`           AS `index`,
               `user_id`         AS `userId`,
               `movie_index`     AS `mid`,
               `score`           AS `score`,
               `recommend_point` AS `recommendPoint`,
               `content`         AS `content`,
               `written_on`      AS `writtenOn`
        FROM `mg_movie`.`movie_comment`
        WHERE `movie_index` = #{mid}
    </select>

    <select id="selectMovieByIndex" resultType="dev.babsang.megabox.entities.movie.MovieEntity">
        SELECT `index`            AS `index`,
               `title`            AS `title`,
               `title_en`         AS `titleEn`,
               `release_date`     AS `releaseDate`,
               `end_date`         AS `endDate`,
               `summary`          AS `summary`,
               `age_limit`        AS `ageLimit`,
               `movie_state`      AS `movieState`,
               `genre`            AS `genre`,
               `director`         AS `director`,
               `actor`            AS `actor`,
               `running_time`     AS `runnungTime`,
               `screen_type`      AS `screenType`,
               `movie_poster`     AS `moviePoster`,
               `background_image` AS `backgroundImage`
        FROM `mg_movie`.`movies`
        WHERE `index` = #{mid}
    </select>
    <select id="selectMovieReservation" resultType="dev.babsang.megabox.entities.movie.MovieEntity">
        SELECT `index`            AS `index`,
               `title`            AS `title`,
               `title_en`         AS `titleEn`,
               `release_date`     AS `releaseDate`,
               `end_date`         AS `endDate`,
               `summary`          AS `summary`,
               `age_limit`        AS `ageLimit`,
               `movie_state`      AS `movieState`,
               `genre`            AS `genre`,
               `director`         AS `director`,
               `actor`            AS `actor`,
               `running_time`     AS `runnungTime`,
               `screen_type`      AS `screenType`,
               `movie_poster`     AS `moviePoster`,
               `background_image` AS `backgroundImage`
        FROM `mg_movie`.`movies`
    </select>

    <insert id="insertComment"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.babsang.megabox.entities.movie.MovieCommentEntity">
        INSERT INTO `mg_movie`.`movie_comment`(`user_id`, `score`, `recommend_point`, `content`, `written_on`,
                                               `movie_index`)
        VALUES (#{userId}, #{score}, #{recommendPoint}, #{content},
                IFNULL(#{writtenOn}, DEFAULT(`written_on`)), #{mid})
    </insert>

</mapper>
