<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.babsang.megabox.mappers.IMovieMapper">
    <select id="selectMovieCommentByMid"
            resultType="dev.babsang.megabox.vos.movie.MovieCommentVo">
        SELECT `index`           AS `index`,
               `user_id`         AS `userId`,
               `movie_index`     AS `mid`,
               `score`           AS `score`,
               `recommend_point` AS `recommendPoint`,
               `content`         AS `content`,
               `written_on`      AS `writtenOn`,
               count(`index`)    AS `commentCnt`
        FROM `mg_movie`.`movie_comment`
        WHERE `movie_index` = #{mid}
        GROUP BY `index`
        LIMIT 1
    </select>

    <select id="selectMovieCommentsByMid"
            resultType="dev.babsang.megabox.entities.movie.MovieCommentEntity">
        SELECT `index`           AS `index`,
               `user_id`         AS `userId`,
               `movie_index`     AS `mid`,
               `score`           AS `score`,
               `recommend_point` AS `recommendPoint`,
               `content`         AS `content`,
               `written_on`      AS `writtenOn`
        FROM `mg_movie`.`movie_comment`
        WHERE `movie_index` = #{mid}
    </select>

    <select id="selectMovieByIndex" resultType="dev.babsang.megabox.entities.movie.MovieEntity">
        SELECT `index`            AS `index`,
               `title`            AS `title`,
               `title_en`         AS `titleEn`,
               `release_date`     AS `releaseDate`,
               `end_date`         AS `endDate`,
               `summary`          AS `summary`,
               `age_limit`        AS `ageLimit`,
               `movie_state`      AS `movieState`,
               `genre`            AS `genre`,
               `director`         AS `director`,
               `actor`            AS `actor`,
               `running_time`     AS `runnungTime`,
               `screen_type`      AS `screenType`,
               `movie_poster`     AS `moviePoster`,
               `background_image` AS `backgroundImage`,
               `adult_price`      AS `adultPrice`,
               `teenager_price`   AS `teenagerPrice`,
               `etc_price`        AS `etcPrice`,
               `score_avg`        AS `scoreAvg`
        FROM `mg_movie`.`movies`
        WHERE `index` = #{mid}
    </select>

    <select id="selectMovies" resultType="dev.babsang.megabox.entities.movie.MovieEntity">
        SELECT `index`            AS `index`,
               `title`            AS `title`,
               `title_en`         AS `titleEn`,
               `release_date`     AS `releaseDate`,
               `end_date`         AS `endDate`,
               `summary`          AS `summary`,
               `age_limit`        AS `ageLimit`,
               `movie_state`      AS `movieState`,
               `genre`            AS `genre`,
               `director`         AS `director`,
               `actor`            AS `actor`,
               `running_time`     AS `runningTime`,
               `screen_type`      AS `screenTyoe`,
               `movie_poster`     AS `moviePoster`,
               `background_image` AS `backgroundImage`,
               `adult_price`      AS `adultPrice`,
               `teenager_price`   AS `teenagerPrice`,
               `etc_price`        AS `etcPrice`,
               `score_avg`        AS `scoreAvg`
        FROM `mg_movie`.`movies`
    </select>

    <select id="selectCommingMovies" resultType="dev.babsang.megabox.vos.movie.MovieVo">
        SELECT `movie`.`index`            AS `index`,
               `movie`.`title`            AS `title`,
               `movie`.`title_en`         AS `titleEn`,
               `movie`.`release_date`     AS `releaseDate`,
               `movie`.`end_date`         AS `endDate`,
               `movie`.`summary`          AS `summary`,
               `movie`.`age_limit`        AS `ageLimit`,
               `movie`.`movie_state`      AS `movieState`,
               `movie`.`genre`            AS `genre`,
               `movie`.`director`         AS `director`,
               `movie`.`actor`            AS `actor`,
               `movie`.`running_time`     AS `runningTime`,
               `movie`.`screen_type`      AS `screenTyoe`,
               `movie`.`movie_poster`     AS `moviePoster`,
               `movie`.`background_image` AS `backgroundImage`,
               `movie`.`adult_price`      AS `adultPrice`,
               `movie`.`teenager_price`   AS `teenagerPrice`,
               `movie`.`etc_price`        AS `etcPrice`,
               `movie`.`score_avg`        AS `scoreAvg`,
               count(`booking`.`index`)   AS `totalAudience`
        FROM `mg_movie`.`movies` AS `movie`
                 LEFT JOIN `mg_movie`.`screen_info` AS `screenInfo` ON `movie`.`index` = `screenInfo`.`movie_index`
                 LEFT JOIN `mg_movie`.`booking` AS `booking` ON `screenInfo`.`index` = `booking`.`screen_info_index`
        WHERE movie.`release_date` > now()
        GROUP BY `movie`.`index`
    </select>

    <select id="selectMovieVosByMid" resultType="dev.babsang.megabox.vos.movie.MovieVo">
        SELECT `movie`.`index`            AS `index`,
               `movie`.`title`            AS `title`,
               `movie`.`title_en`         AS `titleEn`,
               `movie`.`release_date`     AS `releaseDate`,
               `movie`.`end_date`         AS `endDate`,
               `movie`.`summary`          AS `summary`,
               `movie`.`age_limit`        AS `ageLimit`,
               `movie`.`movie_state`      AS `movieState`,
               `movie`.`genre`            AS `genre`,
               `movie`.`director`         AS `director`,
               `movie`.`actor`            AS `actor`,
               `movie`.`running_time`     AS `runningTime`,
               `movie`.`screen_type`      AS `screenTyoe`,
               `movie`.`movie_poster`     AS `moviePoster`,
               `movie`.`background_image` AS `backgroundImage`,
               `movie`.`adult_price`      AS `adultPrice`,
               `movie`.`teenager_price`   AS `teenagerPrice`,
               `movie`.`etc_price`        AS `etcPrice`,
               `movie`.`score_avg`        AS `scoreAvg`,
               count(`booking`.`index`)   as `totalAudience`
        FROM `mg_movie`.`movies` AS `movie`
                 LEFT JOIN `mg_movie`.`screen_info` AS `screenInfo` ON `movie`.`index` = `screenInfo`.`movie_index`
                 LEFT JOIN `mg_movie`.`booking` AS `booking` ON `screenInfo`.`index` = `booking`.`screen_info_index`
        WHERE `movie_index` = #{mid}
        group by `movie`.`index`
    </select>

    <select id="selectMovieVo" resultType="dev.babsang.megabox.vos.movie.MovieVo">
        SELECT `movie`.`index`                                  AS `index`,
               `movie`.`title`                                  AS `title`,
               `movie`.`title_en`                               AS `titleEn`,
               `movie`.`release_date`                           AS `releaseDate`,
               `movie`.`end_date`                               AS `endDate`,
               `movie`.`summary`                                AS `summary`,
               `movie`.`age_limit`                              AS `ageLimit`,
               `movie`.`movie_state`                            AS `movieState`,
               `movie`.`genre`                                  AS `genre`,
               `movie`.`director`                               AS `director`,
               `movie`.`actor`                                  AS `actor`,
               `movie`.`running_time`                           AS `runningTime`,
               `movie`.`screen_type`                            AS `screenType`,
               `movie`.`movie_poster`                           AS `moviePoster`,
               `movie`.`background_image`                       AS `backgroundImage`,
               `movie`.`adult_price`                            AS `adultPrice`,
               `movie`.`teenager_price`                         AS `teenagerPrice`,
               `movie`.`etc_price`                              AS `etcPrice`,
               `movie`.`score_avg`                              AS `scoreAvg`,
               IFNULL((SELECT COUNT(`booking`.`index`)
                       FROM `mg_movie`.`screen_info` AS `screenInfo`
                                LEFT JOIN `mg_movie`.`booking` AS `booking`
                                          ON `screenInfo`.`index` = `booking`.`screen_info_index`
                       WHERE `screenInfo`.`movie_index` = #{mid}
                       GROUP BY `screenInfo`.`movie_index`), 0) AS `totalAudience`
        FROM `mg_movie`.`movies` AS `movie`
        where `movie`.`index` = #{mid}
        group by `movie`.`index`
    </select>

    <select id="selectMovieVos" resultType="dev.babsang.megabox.vos.movie.MovieVo">
        SELECT `movie`.`index`            AS `index`,
               `movie`.`title`            AS `title`,
               `movie`.`title_en`         AS `titleEn`,
               `movie`.`release_date`     AS `releaseDate`,
               `movie`.`end_date`         AS `endDate`,
               `movie`.`summary`          AS `summary`,
               `movie`.`age_limit`        AS `ageLimit`,
               `movie`.`movie_state`      AS `movieState`,
               `movie`.`genre`            AS `genre`,
               `movie`.`director`         AS `director`,
               `movie`.`actor`            AS `actor`,
               `movie`.`running_time`     AS `runningTime`,
               `movie`.`screen_type`      AS `screenTyoe`,
               `movie`.`movie_poster`     AS `moviePoster`,
               `movie`.`background_image` AS `backgroundImage`,
               `movie`.`adult_price`      AS `adultPrice`,
               `movie`.`teenager_price`   AS `teenagerPrice`,
               `movie`.`etc_price`        AS `etcPrice`,
               `movie`.`score_avg`        AS `scoreAvg`,
               count(`booking`.`index`)   as `totalAudience`
        FROM `mg_movie`.`movies` AS `movie`
                 LEFT JOIN `mg_movie`.`screen_info` AS `screenInfo` ON `movie`.`index` = `screenInfo`.`movie_index`
                 LEFT JOIN `mg_movie`.`booking` AS `booking` ON `screenInfo`.`index` = `booking`.`screen_info_index`
        group by `movie`.`index`
    </select>

    <select id="selectRegion"
            resultType="dev.babsang.megabox.entities.movie.RegionEntity">
        SELECT `index` AS `index`,
               `text`  AS `text`
        FROM `mg_movie`.`region`
    </select>

    <select id="selectBranches"
            resultType="dev.babsang.megabox.entities.movie.BranchEntity">
        SELECT `index`        AS `index`,
               `text`         AS `text`,
               `region_index` AS `regionIndex`
        FROM `mg_movie`.`branch`
    </select>

    <select id="selectScreenInfos"
            resultType="dev.babsang.megabox.vos.movie.MovieScreenInfoVo">
        SELECT `screenInfo`.`index`            AS `index`,
               `screenInfo`.`movie_index`      AS `movieIndex`,
               `screenInfo`.`auditorium_index` AS `auditoriumIndex`,
               `screenInfo`.`screen_date`      AS `screenDate`,
               `screenInfo`.`mv_start_time`    AS `mvStartTime`,
               `screenInfo`.`mv_end_time`      AS `mvEndTime`,
               `movie`.`title`                 AS `infoMovieTitle`,
               `movie`.`screen_type`           AS `infoMovieState`,
               `auditorium`.`text`             AS `infoAudText`,
               `branch`.`index`                AS `infoBranchIndex`,
               `branch`.`text`                 AS `infoBranchText`,
               `region`.`text`                 AS `infoRegionText`
        FROM `mg_movie`.`screen_info` AS `screenInfo`
                 LEFT JOIN `mg_movie`.`movies` AS `movie` ON `screenInfo`.`movie_index` = `movie`.`index`
                 LEFT JOIN `mg_movie`.`auditoriums` AS `auditorium`
                           ON `screenInfo`.`auditorium_index` = `auditorium`.`index`
                 LEFT JOIN `mg_movie`.`branch` AS `branch` ON `auditorium`.`branch_index` = `branch`.`index`
                 LEFT JOIN `mg_movie`.`region` AS `region` ON `branch`.`region_index` = `region`.`index`
    </select>

<!--        <select id="selectScreenInfoByOptionalList"-->
<!--                resultType="dev.babsang.megabox.vos.movie.MovieScreenInfoVo">-->
<!--            SELECT `screenInfo`.`index`            AS `index`,-->
<!--                   `screenInfo`.`movie_index`      AS `movieIndex`,-->
<!--                   `screenInfo`.`auditorium_index` AS `auditoriumIndex`,-->
<!--                   `screenInfo`.`screen_date`      AS `screenDate`,-->
<!--                   `screenInfo`.`mv_start_time`    AS `mvStartTime`,-->
<!--                   `screenInfo`.`mv_end_time`      AS `mvEndTime`,-->
<!--                   `movie`.`title`                 AS `infoMovieTitle`,-->
<!--                   `movie`.`screen_type`           AS `infoMovieState`,-->
<!--                   `auditorium`.`text`             AS `infoAudText`,-->
<!--                   `branch`.`text`                 AS `infoBranchText`,-->
<!--                   `region`.`text`                 AS `infoRegionText`-->
<!--            FROM `mg_movie`.`screen_info` AS `screenInfo`-->
<!--                     LEFT JOIN `mg_movie`.`movies` AS `movie`-->
<!--                         ON `screenInfo`.`movie_index` = `movie`.`index`-->
<!--                     LEFT JOIN `mg_movie`.`auditoriums` AS `auditorium`-->
<!--                         ON `screenInfo`.`auditorium_index` = `auditorium`.`index`-->
<!--                     LEFT JOIN `mg_movie`.`branch` AS `branch`-->
<!--                         ON `auditorium`.`branch_index` = `branch`.`index`-->
<!--                    LEFT JOIN `mg_movie`.`region` AS `region`-->
<!--                         ON `branch`.`region_index` = `region`.`index`-->
<!--                     WHERE `auditorium`.`text` = #{infoAudText}-->
<!--                         AND `screenInfo`.`screen_date` = #{screenDate}-->
<!--                     <if test="title != null">-->
<!--                         AND `movie`.`title` = #{infoMovieTitle}-->
<!--                     </if>-->
<!--        </select>-->

    <select id="selectBooking" resultType="dev.babsang.megabox.entities.movie.BookingEntity">
        SELECT `index`             AS `index`,
               `screen_info_index` AS `screenInfoIndex`,
               `user_id`           AS `userId`,
               `seat_index`        AS `seatIndex`,
               `payment`           AS `payment`
        FROM `mg_movie`.`booking`
    </select>

    <select id="selectSeatVo" resultType="dev.babsang.megabox.vos.movie.SeatVo">
        select `index`                    as `index`,
               column_index               as columnIndex,
               column_text                as columnText,
               `row`                      as `row`,
               auditorium_index           as auditoriumIndex,
               concat(column_text, `row`) as seatCode
        from mg_movie.seats
    </select>

    <select id="selectSeatVoGroupByColumn" resultType="dev.babsang.megabox.vos.movie.SeatVo">
        select `index`          as `index`,
               column_index     as columnIndex,
               column_text      as columnText,
               `row`            as `row`,
               auditorium_index as auditoriumIndex,
               count(`index`)   as numberOfColumn
        from mg_movie.seats
        group by `column_index`
    </select>

    <insert id="insertComment"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.babsang.megabox.entities.movie.MovieCommentEntity">
        INSERT INTO `mg_movie`.`movie_comment`(`user_id`, `score`, `recommend_point`, `content`, `written_on`,
                                               `movie_index`)
        VALUES (#{userId}, #{score}, #{recommendPoint}, #{content},
                IFNULL(#{writtenOn}, DEFAULT(`written_on`)), #{mid})
    </insert>

</mapper>
