<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/stylesheets/login.css}">
    <script type="text/javascript"
            src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=94a12e6ae62af8fbc88e09e7433d6c08"></script>
    <script defer th:src="@{/member/scripts/login.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<form id="form" class="form">
    <section id="login" class="login">
        <div class="content">
            <div class="loginPage">
                <div class="container">
                    <div class="containers">
                        <div class="title">
                            <h2>로그인</h2>
                        </div>
                        <div class="loginTab" id="loginTab">
                            <a href="#" class="ir">회원 로그인 탭 화면 입니다.</a>
                            <a href="" class="ir" title="로그인">회원 로그인 탭 화면 입니다.</a>
                            <div class="loginMember">
                                <div class="member">
                                    <div class="meb">
                                        <div class="loginInput">
                                            <input autocomplete="off" id="ibxLoginId" maxlength="20" type="text"
                                                   name="loginId"
                                                   placeholder="아이디" title="아이디를 입력하세요" class="input-text strTrim">
                                            <input autocomplete="off" id="ibxLoginPwd" maxlength="20" type="password"
                                                   name="pwd"
                                                   placeholder="비밀번호" title="비밀번호를 입력하세요" class="input-text mt15">
                                        </div>
                                        <div class="alert"></div>
                                        <input name="login" type="submit" value="로그인" class="btnLogin">
                                        <div class="link">
                                            <a th:href="@{/member/userIdFind}">ID/PW 찾기</a>
                                            <a th:href="@{/member/register}" title="회원가입 선택">회원가입</a>
                                            <a href="#" title="비회원 예매확인 선택">비회원 예매확인</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>