<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메가박스 :: 마이페이지</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/stylesheets/myPage.css}">
    <link rel="stylesheet" th:href="@{/member/stylesheets/myPage-modify.css}">
    <script src="https://kit.fontawesome.com/282afddd53.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/member/scripts/myPage-modify.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<div class="container" id="container">
    <div class="inner-wrap">
        <div class="side-menu">
            <nav>
                <p class="title">
                    <a th:href="@{./myPage}">나의 메가박스</a>
                </p>
                <ul>
                    <li>
                        <a href="#">예매/구매내역</a>
                        <ul class="member-info">
                            <li>
                                <a href="#">예매내역</a>
                                <a href="#">구매내역</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">회원정보</a>
                        <ul class="member-info">
                            <li>
                                <a th:href="@{./modify}">개인정보 수정</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">영화/스토어 관람권</a>
                    </li>
                    <li>
                        <a href="#">메가박스/제휴쿠폰</a>
                    </li>
                    <li>
                        <a href="#">멤버십 포인트</a>
                    </li>
                    <li>
                        <a href="#">자주쓰는 카드 관리</a>
                    </li>
                    <li>
                        <a href="#">나의 문의내역</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="contents">
            <h2 class="title">개인정보수정</h2>
            <div>회원님의 정보를 정확히 입력해주세요.</div>
            <div class="user-id">
                <div class="text">아이디</div>
                <div class="content">
                    <p th:text="${session.user.getId()}" th:value="${session.user.getId()}" rel="id"></p>
                    <a href="#" class="delete-account">회원탈퇴</a>
                </div>
            </div>
            <div class="user-info">
                <div class="title-area">
                    <h3 class="title">기본정보</h3>
                    <div class="necessary">
                        <p>
                            <em class="star">*</em>
                            필수
                        </p>
                    </div>
                </div>
                <form>
                    <div class="info-grid">
                        <div class="text">
                            <p>이름
                                <em class="star">*</em>
                            </p>
                        </div>
                        <div class="info name">
<!--                            <p th:text="${session.user.getName()}" th:value="${session.user.getName()}" rel="name">sss</p>-->
                            <input th:value="${session.user.getName()}" rel="name" disabled>
                        </div>
                        <div class="text">
                            <p>생년월일
                                <em class="star">*</em>
                            </p>
                        </div>
                        <div class="info birthday">
                            <input th:value="${session.user.getBirthday()}" rel="birthday" disabled>
                        </div>
                        <div class="text">
                            <p>휴대폰
                                <em class="star">*</em>
                            </p>
                        </div>
                        <div class="info mobile" rel="mobile">
                            <div class="mobile-wrap">
                                <input th:value="${session.user.getContact()}" disabled rel="nowMobile">
                                <div rel="changeBtn">휴대폰번호 변경</div>
                            </div>
                            <div class="change-mobile">
                                <label for="mobile">변경할 휴대폰</label>
                                <input type="number" class="new-mobile" id="mobile" maxlength="11" placeholder="'-' 없이 입력해주세요." name="mobile">
<!--                                <button type="button" rel="mobileModifyBtn" name="newMobile">번호 변경</button>-->
                            </div>
                        </div>
                        <div class="text">
                            <p>이메일
                                <em class="star">*</em>
                            </p>
                        </div>
                        <div class="info email">
                            <input th:value="${session.user.getEmail()}" rel="email" disabled>
                        </div>
                        <div class="text">
                            <p>비밀번호
                                <em class="star">*</em>
                            </p>
                        </div>
                        <div class="info password">
                            <button>
                                <a th:href="@{./recoverPassword}">비밀번호 변경</a>
                            </button>
                        </div>
                        <div class="text">
                            <p>주소
                                <em class="star">*</em>
                            </p>
                        </div>
                        <div class="info address">
                            <label>
                                <input disabled th:value="${session.user.getAddressPostal}" class="addressPostal" rel="addressPostal">
                                <div rel="addressFind">주소 찾기</div>
                            </label>
                            <label>
                                <input disabled th:value="${session.user.getAddressPrimary}" rel="addressPrimary">
                                <input type="text" placeholder="상세 주소를 입력해주세요." rel="addressSecondary" th:value="${session.user.getAddressSecondary}">
                            </label>
                            <div class="panel address" rel="addressFindPanel">
                                <div class="dialog" rel="addressFindPanelDialog"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="btn-area">
                <div><a th:href="@{./myPage}">취소</a></div>
                <div rel="submitBtn">등록</div>
            </div>
        </div>
    </div>
</div>

</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>