<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메가박스 :: 비밀번호 변경</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/stylesheets/myPage.css}">
    <link rel="stylesheet" th:href="@{/member/stylesheets/myPage-modify.css}">
    <script src="https://kit.fontawesome.com/282afddd53.js" crossorigin="anonymous"></script>
    <!--  <script type="text/javascript"></script>-->
    <script defer th:src="@{/member/scripts/sha512.js}"></script>
    <script defer th:src="@{/member/scripts/recoverPassword.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<div class="container" id="container">
    <div class="inner-wrap">
        <div class="side-menu">
            <nav>
                <p class="title">
                    <a th:href="@{./myPage}">나의 메가박스</a>
                </p>
                <ul>
                    <li>
                        <a href="#">예매/구매내역</a>
                        <ul class="member-info">
                            <li>
                                <a th:href="@{./bookingHistory}">예매내역</a>
                                <a href="#">구매내역</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">회원정보</a>
                        <ul class="member-info">
                            <li>
                                <a th:href="@{./modify}">개인정보 수정</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">영화/스토어 관람권</a>
                    </li>
                    <li>
                        <a href="#">메가박스/제휴쿠폰</a>
                    </li>
                    <li>
                        <a href="#">멤버십 포인트</a>
                    </li>
                    <li>
                        <a href="#">자주쓰는 카드 관리</a>
                    </li>
                    <li>
                        <a href="#">나의 문의내역</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="contents on">
            <h2 class="title">비밀번호 변경</h2>
            <div class="wrap">
                <div>현재 비밀번호를 입력한 후 새로 사용할 비밀번호를 입력하세요.</div>
                <div class="user-id">
                    <div class="text">현재 비밀번호</div>
                    <div class="content">
                        <label>
                            <input type="hidden" th:value="${session.user.getPassword()}" rel="signedPassword">
                            <input type="password" class="now-pw" name="nowPassword">
                        </label>
                    </div>
                    <div class="text">새 비밀번호</div>
                    <div class="content">
                        <label>
                            <input type="password" class="new-pw" rel="newPassword">
                            <span rel="warningText">※ 영문, 숫자, 특수문자를 모두 조합하여 10자리 이상으로 입력 해 주세요.</span>
                        </label>
                    </div>
                    <div class="text">새 비밀번호</div>
                    <div class="content">
                        <label>
                            <input type="password" class="new-pwCheck" rel="passwordCheck">
                            <span>※ 비밀번호 확인을 위해 한 번 더 입력해 주시기 바랍니다.</span>
                        </label>
                    </div>
                </div>
                <ul class="list">
                    <li>생년월일, 전화번호 등 개인 정보와 관련된 숫자, 연속된 숫자와 같은 비밀번호는 다른 사람이 쉽게 알아낼 수 있으니 사용을 자제해 주세요.</li>
                    <li>비밀번호는 3-6개월마다 꼭 바꿔 주세요.</li>
                    <li>비밀번호 변경시 모바일 기기와 홈페이지에서 모두 로그아웃됩니다. 변경한 비밀번호로 다시 로그인해주세요.</li>
                    <li>비밀번호 설정 시 사용가능한 특수문자는 ~ ! @ # $ % ^ &amp; * + = - ? _ 입니다.</li>
                </ul>
                <div class="btn-area">
                    <div><a th:href="@{./modify}">취소</a></div>
                    <div rel="passwordSend">수정</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>