<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>아이디/비밀번호 찾기</title>
    <script src="https://kit.fontawesome.com/613513fe2d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/member/stylesheets/userPasswordFind.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/member/scripts/userPasswordFind.js}"></script>
</head>
<body>
<form class="form" id="form">
    <div class="container">
        <div class="containerBox">
            <h1 class="ci">
                <a th:href="@{/}" title="메인 페이지로 이동"><img src="/resources/images/megabox-logo.png">
                </a>
            </h1>
        </div>
        <div class="col-wrap" id="step1">
            <div class="col">
                <p class="tit-member">
                    아이디/비밀번호 찾기
                </p>
                <div class="tab-list">
                    <ul>
                        <li>
                            <a th:href="@{/member/userIdFind}" title="아이디 찾기">아이디 찾기</a>
                        </li>
                        <li class="on">
                            <a th:href="@{/member/userPasswordFind}" title="비밀번호 찾기">비밀번호 찾기</a>
                        </li>
                    </ul>
                </div>
                <h2 class="tit">
                    간편찾기
                </h2>
                <div class="table-wrap">
                    <table class="board-form">
                        <caption>

                        </caption>
                        <colgroup>
                            <col style="width: 130px">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <a>아이디</a>
                            </th>
                            <td>
                                <label>
                                    <input id="id" maxlength="20" type="text" placeholder="아이디" class="input-text"
                                           name="loginId">
                                    <div id="id-error-text" class="alert" rel="warning-id"></div>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <a>이름</a>
                            </th>
                            <td>
                                <label>
                                    <input id="name" maxlength="20" type="text" placeholder="이름" class="input-text"
                                           name="name">
                                    <div id="name-error-text" class="alert" rel="warning-name"></div>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <a>생년월일</a>
                            </th>
                            <td>
                                <label>
                                    <input id="birthday" maxlength="8" type="number" placeholder="생년월일 앞8자리"
                                           class="input-text">
                                </label>
                                <div id="birthday-error-text" class="alert" rel="warning-birthday"></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <a>
                                    연락처
                                </a>
                            </th>
                            <td>
                                <label>
                                    <input id="contact" maxlength="12" type="number" placeholder="- 없이 입력"
                                           class="input-text">
                                </label>
                                <div id="contact-error-text" class="alert" rel="warning-contact"></div>
                            </td>
                        </tr>
<!--                        <tr>-->
<!--                            <th scope="row">-->
<!--                                <a>이메일 인증-->
<!--                                </a>-->

<!--                            </th>-->
<!--                            <td>-->
<!--                                <label>-->
<!--                                    <input maxlength="50" id="loginEmailCheck" name="email" type="text"-->
<!--                                           placeholder="이메일 주소를 입력해주세요." class="input-text">-->
<!--                                </label>-->
<!--                                <div id="email-error-text" class="alert" rel="warning-email"></div>-->
<!--                            </td>-->
<!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
                <div class="announcement">
                    - 휴대폰 번호가 변경된 경우 본인인증 찾기를 통하여 아이디찾기를 진행해주시기 바랍니다.
                </div>
                <div class="btn-member-bottom v1">
                    <button id="btnSchId" type="button" class="button" name="findPassword">
                        비밀번호 찾기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input name="code" type="hidden">
    <input name="salt" type="hidden">
</form>
</body>
</html>