<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공지사항</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/mg_movie/bbs/resources/stylesheets/notice.css}">
    <script defer th:src="@{/mg_movie/bbs/resources/scripts/notice.js}"></script>
    <script type="text/javascript"
            src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=94a12e6ae62af8fbc88e09e7433d6c08"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<div class="page-util" id="pageUtil">
    <div class="inner-wrap">
        <div class="location">
            <a th:href="@{/}">Home</a>
            <!--            <a th:href="@{./movie}">고객센터</a>-->
            <a th:href="@{/bbs/notice (bid = notice)}">공지사항</a>
        </div>
    </div>
</div>
<form id="form" class="form">
    <div class="container">
        <div class="inner-wrap">
            <div class="side-menu">
            <nav>
                <p class="title">
                    <a th:href="@{/myPage/myPage}">나의 메가박스</a>
                </p>
                <ul>
                    <li>
                        <a th:href="@{/myPage/bookingHistory}">예매/구매내역</a>
                        <ul class="member-info">
                            <li>
                                <a th:href="@{/myPage/bookingHistory}">예매내역</a>
                                <a onclick="alert('준비중인 서비스 입니다.')">구매내역</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">회원정보</a>
                        <ul class="member-info">
                            <li>
                                <a th:href="@{/myPage/modify}">개인정보 수정</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">영화/스토어 관람권</a>
                    </li>
                    <li>
                        <a href="#">메가박스/제휴쿠폰</a>
                    </li>
                    <li>
                        <a href="#">멤버십 포인트</a>
                    </li>
                    <li>
                        <a href="#">자주쓰는 카드 관리</a>
                    </li>
                    <li>
                        <a href="#">나의 문의내역</a>
                    </li>
                </ul>
            </nav>
            </div>

            <div class="content">
                <h2 class="tit">공지사항</h2>
                <div class="board-list">
                    <p class="result-count">
                        <strong>
                            전체
                            <em th:text="${articleCount}"></em>
                        </strong>
                    </p>
                    <div class="empty-box"></div>

                    <form class="search-form" id="searchForm" method="get">
                        <div class="selectBox" id="theaterSelect">
                            <label class="label">
                                <span hidden>검색 기준</span>
                                <select id="theater" class="select" name="criterion" th:with="criterion = ${#request.getParameter('criterion')}">
                                    <option value="all" th:selected="${criterion == null || criterion.equals('all')}">제목 + 내용</option>
                                    <option value="title" th:selected="${criterion != null && criterion.equals('title')}">제목</option>
                                    <option value="branch" th:selected="${criterion != null && criterion.equals('branch')}">극장</option>
                                </select>
                            </label>
                            <span class="icoArrow"><i class="fa-solid fa-angle-down"></i></span>
                        </div>
                        <label class="label">
                            <span hidden>검색어</span>
                            <div class="board-search">
                                <input type="text" id="searchTxt" placeholder="검색어를 입력해 주세요." class="input-text"
                                       name="keyword"
                                       maxlength="15" th:value="${#request.getParameter('keyword')}">
                                <button type="submit" id="searchBtn" class="btn-search-input" value="검색"></button>
                                <input name="bid" type="hidden" th:value="${board.getId()}">
                            </div>
                        </label>
                    </form>
                </div>
                <div class="table-wrap">
                    <table class="board">
                        <caption>

                        </caption>
                        <colgroup>
                            <col style="width: 72px;">
                            <col style="width: 133px;">
                            <col style="width: 95px;">
                            <col>
                            <col style="width: 116px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">극장</th>
                            <th scope="col">구분</th>
                            <th scope="col">제목</th>
                            <th scope="col">등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="articles : ${articles}">
                            <td th:text="${articles.getIndex()}"></td>

                            <td th:text="${articles.getBranch()}"></td>

                            <td th:text="${articles.getSort()}"></td>
                            <th>
                                <a th:text="${articles.getTitle()}" th:href="@{/bbs/read (aid=${articles.getIndex})}">
                                </a>
                            </th>
                            <td th:text="${#dates.format(articles.getWrittenOn(), 'yyyy-MM-dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-container"
                     th:with="urlBuilder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                    <a class="page"
                       th:href="@{${urlBuilder.replaceQueryParam('page', 1).build().toUriString()}}"
                       th:if="${paging.requestPage > 1}" style="background-color: #f3f2f2; margin: 0;">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                    <a class="page"
                       th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage - 1).build().toUriString()}}"
                       th:if="${paging.requestPage > 1}" style="background-color: #f3f2f2; margin: 0;">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a class="page" id="pageNumber"
                       th:style="${page == paging.requestPage ? 'background-color: #01738b; color: white;' : ''}"
                       th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}"
                       th:class="${'page ' + (page == paging.requestPage ? 'selected' : '')}"
                       th:text="${page}"
                       th:href="@{${urlBuilder.replaceQueryParam('page', page).build().toUriString()}}"></a>
                    <a class="page"
                       th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage + 1).build().toUriString()}}"
                       th:if="${paging.requestPage < paging.maxPage}" style="background-color: #f3f2f2; margin: 0;">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                    <a class="page"
                       th:href="@{${urlBuilder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}"
                       th:if="${paging.requestPage < paging.maxPage}" style="background-color: #f3f2f2; margin: 0;">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                    <div class="writeButton">
                        <a th:href="@{/bbs/write (bid = ${'notice'})}" id="writeBtn" class="button" th:if="${session.user != null && session.user.getAdminFlag()}">글쓰기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>