@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html > body {
    /*height: 100%;*/
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    letter-spacing: 0;
    line-height: 1.5;
    font-size: 0.9rem;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

/*네비게이션 메뉴*/

#contents {
    width: 100%;
    margin: 0;
    padding: 5rem 0 0 0;
}

#contents > .inner-wrap {
    width: 67.75rem;
    margin: 0 auto;
}

#contents > .inner-wrap > .tab-list > #topMenu {
    /*border: 0.0625rem solid #444444;*/
    list-style: none;
    padding: 0;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contents > .inner-wrap > .tab-list > #topMenu > li {
    border: 0.0625rem solid #503396;
    margin: 0;
    padding: 1rem 0;
}


#contents > .inner-wrap > .tab-list > #topMenu > li > a {
    padding: 1.3rem 14.3rem;
    color: #444;
    font-size: 1rem;
    text-decoration: none;
}

#contents > .inner-wrap > .tab-list > #topMenu > li:first-of-type {
    border-right: none;
}

/*검색*/

.movie-list-util {
    margin: 0 0 1rem 0;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-list-util > .onAir-condition {

}

.movie-list-util > .movie-search {

}

.movie-list-util > .movie-search > .onAir-condition {

}

.movie-list-util > .movie-search > .onAir-condition > .btn-onAir {

}

/*영화 리스트*/

#contents > .inner-wrap > .movie-list > ol {
    list-style: none;
    padding: 0;
    /*margin-left: -3.75rem;*/
    /*margin-top: 0;*/
    margin: 0 0 0 -3.75rem;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#contents > .inner-wrap > .movie-list > ol > .movie {
    overflow: hidden;
    position: relative;
    float: left;
    width: 14.375rem;
    height: 28.125rem;
    padding: 0;
    background-color: #fff;
    margin: 0 0 3.75rem 3.75rem;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .poster {
    overflow: hidden;
    display: block;
    position: relative;
    height: 20.69rem;
    text-decoration: none
}

#contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-poster {
    width: 14.375rem;
    height: 20.69rem;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .movie-info {
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0.9rem;
    padding: 0 0 0 1.875rem;
    line-height: 1.5rem;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .title {
    overflow: hidden;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.125rem 0 0 0.0625rem;
    font-size: 1.3333em;
    font-weight: 400;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade {
    position: absolute;
    left: 0;
    width: 1.4375rem;
    height: 1.4375rem;
    padding: 0;
    margin: 0;
}

/*등급 제한 png*/
#contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade.ageAll {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/ALL_46x46.png);
    background-size: 1.4375rem 1.4375rem;
}
#contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade.age12 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_46x46.png);
    background-size: 1.4375rem 1.4375rem;
}
#contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade.age15 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/15_46x46.png);
    background-size: 1.4375rem 1.4375rem;
}
#contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade.age18 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/18_46x46.png);
    background-size: 1.4375rem 1.4375rem;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .rate-date {
    overflow: hidden;
    padding-top: 0.625rem;
    font-size: 0.9rem;
    display: block;
    position: relative;
    float: left
}

#contents > .inner-wrap > .movie-list > ol > .movie > .rate-date > .rate {
    margin-right: 0.4375rem;
    padding-right: 0.5rem;
    float: left;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .rate-date > .rate::after {
    content: '';
    display: block;
    position: absolute;
    right: 56%;
    top: 68%;
    width: 0.0625rem;
    height: 0.75rem;
    margin: -0.375rem 0 0 0;
    background-color: #d8d9db;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .button {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.25rem;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .button > .book {
    float: left;
    width: 13.8rem;
    margin-left: 0.3rem;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .button > .book > .book-btn {
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 400;
    border-radius: 0.25rem;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    text-align: center;
    height: 2.25rem;
    line-height: 2.25rem;
    border: 0;
    background: #503396;
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#contents > .inner-wrap > .movie-list > ol > .movie > .button > .book > .book-btn:hover {
    background-color: #351f67;
}




