@charset "UTF-8";

body > .header {
    background-color: rgba(0,0,0,78%);
    z-index: 5;
}

body > .--header > .nav > .category-container > .logo-box > .logo {
    background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-white_new2.png) center center no-repeat;
}

body > .--header > .nav > .category-container > li > a {
    color: rgb(255, 255, 255);
}


body > .--header > .nav > .detail-header > a {
    color: #888;
}

body > .--header > .nav > .category-container > li:hover .movie-sub-menu,
body > .--header > .nav > .category-container > li:hover .reservation-sub-menu,
body > .--header > .nav > .category-container > li:hover .theater-sub-menu,
body > .--header > .nav > .category-container > li:hover .center-sub-menu {
    background-color: rgba(0, 0, 0, 30%);
}

body > .--main {
    width: 100%;
    background-color: rgba(0, 0, 0, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > .--main > .poster-container {
    width: 100%;
    height: 50rem;
    background-color: rgba(0, 0, 0, 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .poster-container > img {
    width: 80%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
    filter: blur(7rem);
}

body > .--main > .poster-container > .poster-box {
    z-index: 1;
    width: 68.75rem;
    height: 39rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

body > .--main > .poster-container > .poster-box > .poster-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
}

body > .--main > .poster-container > .poster-box > .poster-title > .title {
    flex: 0.96;
    text-align: center;
    margin-inline-start: 8rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

body > .--main > .poster-container > .poster-box > .poster-title > .title > span {
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.2);
    padding-bottom: 0.25rem;
}

body > .--main > .poster-container > .poster-box > .poster-title > .more-movie {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

body > .--main > .poster-container > .poster-box > .poster-title > .more-movie > a {
    color: #888;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 1.7rem;
}

body > .--main > .poster-container > .poster-box > .poster-title > .more-movie > a:hover {
    text-decoration: underline;
}

body > .--main > .poster-container > .poster-box > .poster-title > .more-movie > .icon {
    margin-left: 0.5rem;
    font-size: 1.1rem;
    color: var(--color-soft-gray);
    cursor: pointer;
}

body > .--main > .poster-container > .poster-box > .movie-list-container {
    width: 100%;
    height: 27rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .poster-container > .poster-box > .movie-list-container > .movie-list-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body > .--main > .poster-container > .poster-box > .movie-list-container > .movie-list-box > .movie-list {
    width: 15rem;
    height: 23rem;
}

body > .--main > .poster-container > .poster-box > .movie-list-container > .movie-list-box > .movie-list > .movie-image > img {
    width: 15rem;
    height: 22rem;
    border-radius: 0.25rem;
}

body > .--main > .poster-container > .poster-box > .movie-list-container > .movie-list-box > .movie-list > .tool-box {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body > .--main > .poster-container > .poster-box > .movie-list-container > .movie-list-box > .movie-list > .tool-box > .toggle-container {
    text-decoration: none;
    border: 0.09rem solid rgb(85, 85, 85);
    border-radius: 0.25rem;
}

body > .--main > .poster-container > .poster-box > .movie-list-container > .movie-list-box > .movie-list > .tool-box > .toggle-container > .like-toggle {
    width: 4.8rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .poster-container > .poster-box > .movie-list-container > .movie-list-box > .movie-list > .tool-box > .toggle-container > .like-toggle > span {
    margin-left: 0.5rem;
}

body > .--main > .poster-container > .poster-box > .movie-list-container > .movie-list-box > .movie-list > .tool-box > .reservation-link > .reservation {
    width: 9.7rem;
    height: 2.4rem;
    border-radius: 0.25rem;
    background-color: rgb(3, 123, 148);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > .--main > .poster-container > .poster-box > .convenient-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 6.6rem;
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box {
    background-color: rgba(0, 0, 0, 0.6);
    width: 67rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box > .form {
    width: 16.75rem;
    height: 2.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box > .form > .label {
    border-bottom: 0.0625rem solid rgb(255, 255, 255);
    padding-bottom: 0.3rem;
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box > .category {
    height: 2.3rem;
    width: 16.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 0.0625rem solid rgb(66, 62, 62);
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box > .category > .icon {
    font-size: 1.6rem;
    font-weight: 600;
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box > .category > a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box > .category > a:hover {
    text-decoration: underline;
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box > .form > .label > .search-movie {
    outline: none;
    background-color: transparent;
    padding-left: 0.5rem;
    border: 0;
    width: 10.5rem;
}

body > .--main > .poster-container > .poster-box > .convenient-container > .convenient-box > .form > .label > a > .icon {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*=================아래부터는 movie-post-container===========*/

body > .--main > .movie-post-container {
    height: 52.5rem;
    width: 100%;
    background-color: rgb(37, 36, 81);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > .--main > .movie-post-container > .mp-title-box {
    width: 67rem;
    height: 6rem;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

body > .--main > .movie-post-container > .mp-title-box > .mp-title {
    font-size: 2rem;
}

body > .--main > .movie-post-container > .mp-title-box > .more-mp > a {
    color: rgb(170, 170, 170);
}

body > .--main > .movie-post-container > .mp-title-box > .more-mp > a:hover {
    text-decoration: underline;
}

body > .--main > .movie-post-container > .best-mp-container {
    width: 68.75rem;
    height: 44rem;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-image {
    width: 21rem;
    height: 100%;
    background-color: inherit;
    margin-right: 2rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .mp-image {
    width: 100%;
    height: 29rem;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .mp-image > img {
    border-radius: 1rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .button-container > .detail-button,
body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .button-container > .expected-button {
    width: 9rem;
    height: 3.12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .button-container > .detail-button {
    box-shadow: 0 0 0 0.0625rem rgb(255, 255, 255) inset;
    background-color: rgb(37, 36, 81);
    border-radius: 0.25rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .button-container > .expected-button {
    background-color: rgb(3, 123, 148);
    border-radius: 0.25rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .button-container > .detail-button > span,
body > .--main > .movie-post-container > .best-mp-container > .best-mp-image > .button-container > .expected-button > span {
    color: rgb(255, 255, 255);
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank {
    width: 45rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank > .hashtag {
    width: 100%;
    height: 4rem;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    border-bottom: 0.0625rem solid rgb(71, 70, 129);
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank > .empty-box {
    height: 14rem;
    width: 100%;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank > .rank-poster-container {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank > .rank-poster-container > .rank-poster-box {
    width: 11.3rem;
    height: 100%;
    border-radius: 1rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank > .rank-poster-container > .rank-poster-box:not(:nth-of-type(4)) {
    margin-right: 1rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank > .rank-poster-container > .rank-poster-box > .image {
    width: 100%;
    height: 8.5rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank > .rank-poster-container > .rank-poster-box > .image > img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

body > .--main > .movie-post-container > .best-mp-container > .best-mp-rank > .rank-poster-container > .rank-poster-box > .post-review {
    width: 100%;
    height: 11.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
}

body > .--main > .mg-guide-container {
    width: 100%;
    height: 37rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body > .--main > .mg-guide-container > .guide-title {
    width: 67rem;
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

body > .--main > .mg-guide-container > .guide-title > span {
    color: rgb(53, 31, 101);
    font-size: 1.8rem;
    font-weight: 500;
}

body > .--main > .mg-guide-container > .theater-type-container {
    width: 67rem;
    height: 11rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body > .--main > .mg-guide-container > .theater-type-container > .theater-type {
    width: 10rem;
    height: 97%;
}

body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-dolby {
    width: 100%;
    height: 100%;
    background-image: url('https://img.megabox.co.kr/static/pc/images/main/bg-main-megainfo-dolby.png');
    border-radius: 0.5rem;
}

body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-private {
    width: 100%;
    height: 100%;
    background-image: url('https://img.megabox.co.kr/static/pc/images/main/bg-main-megainfo-private.png');
    border-radius: 0.5rem;
}

body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-boutique {
    width: 100%;
    height: 100%;
    background-image: url('https://img.megabox.co.kr/static/pc/images/main/bg-main-megainfo-boutique.png');
    border-radius: 0.5rem;
}

body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-mx {
    width: 100%;
    height: 100%;
    background-image: url('https://img.megabox.co.kr/static/pc/images/main/bg-main-megainfo-mx.png');
    background-size: 10.7rem;
    border-radius: 0.5rem;
}

body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-comfort {
    width: 100%;
    height: 100%;
    background-image: url('https://img.megabox.co.kr/static/pc/images/main/bg-main-megainfo-comfort.png');
    background-size: 10.7rem;
    border-radius: 0.5rem;
}

body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-puppy-cinema {
    width: 100%;
    height: 100%;
    background-image: url('https://img.megabox.co.kr/static/pc/images/main/bg-main-megainfo-puppy.jpg');
    background-size: 10.7rem;
    border-radius: 0.5rem;
}

body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-private:hover,
body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-dolby:hover,
body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-boutique:hover,
body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-mx:hover,
body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-comfort:hover,
body > .--main > .mg-guide-container > .theater-type-container > .theater-type > .type-puppy-cinema:hover{
    background-position: 0 bottom;
}

body > .--main > .mg-guide-container > .guide-notice-container {
    width: 100%;
    height: 4rem;
    border-bottom: 0.0625rem solid rgb(226, 226, 226);
    border-top: 0.0625rem solid rgb(226, 226, 226);
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box {
    width: 67rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .point {
    width: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-right: 0.0625rem solid rgb(226, 226, 226);
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .notice {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3rem;
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .notice > a {
    color: inherit;
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .notice > a:hover {
    text-decoration: underline;
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .date {
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .date > a {
    padding-right: 1rem;
    border-right: 0.0625rem solid rgb(226, 226, 226);
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .more-notice {
    width: 5rem;
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .more-notice > a {
    margin-left: 1.4rem;
    text-decoration: none;
    color: inherit;
}

body > .--main > .mg-guide-container > .guide-notice-container > .guide-notice-box > .more-notice > a:hover {
    text-decoration: underline;
}

body > .--main > .mg-guide-container > .guide-icon-container {
    width: 63rem;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box {
    width: 62rem;
    height: 5rem;
    display: flex;
}

body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .service-center,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .qna,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .inquiry,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .group,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .lost,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .coronation{
    width: 11rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .service-center > a,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .qna > a,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .inquiry > a,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .group > a,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .lost > a,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .coronation > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: inherit;
}

body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .service-center > a:hover,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .qna > a:hover,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .inquiry > a:hover,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .group > a:hover,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .lost > a:hover,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .coronation > a:hover {
    border-bottom: 0.0625rem solid rgb(0,0,0);
}

body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .service-center > a > .icon,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .qna > a > .icon,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .inquiry > a > .icon,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .group > a > .icon,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .lost > a > .icon,
body > .--main > .mg-guide-container > .guide-icon-container > .guide-icon-box > .coronation > a > .icon {
    font-size: 2.2rem;
    margin-bottom: 0.3rem;
    color: rgb(127, 188, 199);

}

