@charset "UTF-8";

body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 0.9375rem;
    color: #444;
    font-weight: 400;
}

main > .container {
    width: 100%;
    min-width: 68.75rem;
    min-height: 100%;
    margin: -2.488rem 0 -12.5rem 0;
    /*padding: -5.75rem 0 18.75rem 0;*/
    padding-bottom: 12.5rem;

    /*align-items: center;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
}

main > .container > .page-util {
    display: none;
}


main > .container > .page-util.fixed {
    position: fixed;
    left: 0;
    right: inherit;
    top: 0;
    z-index: 51;
    background-color: #444;

    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

main > .container > .page-util > .inner-wrap {
    width: 68.75rem;
    margin: 0 auto;
}

main > .container > .page-util > .inner-wrap > .location {
    float: left;
    height: 2.625rem;
}

main > .container > .page-util > .inner-wrap > .location > a:first-of-type {
    overflow: hidden;
    display: block;
    float: left;
    width: 0.8125rem;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
}

main > .container > .page-util > .inner-wrap > .location > a:first-of-type:hover {
    filter: brightness(85%);
}

main > .container > .page-util > .inner-wrap > .location > a {
    display: block;
    position: relative;
    float: left;
    height: 2.625rem;
    margin: 0 0 0 1.5625rem;
    padding: 0;
    line-height: 2.875rem;
    color: rgb(255,255,255);
}

main > .container > .page-util > .inner-wrap > .location > a:hover {
    text-decoration: underline;
}

main > .container > .page-util > .inner-wrap > .location > a:before {
    content: '';
    display: block;
    position: absolute;
    left: -0.875rem;
    top: 0;
    width: 0.3125rem;
    height: 2.625rem;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}

main > .container > .contents {
    width: 100%;
    margin: 0;
    padding-top: 2.5rem;
}

main > .container > .contents > .movie-detail {
    position: relative;
    z-index: 1;
    height: 32.5rem;
    margin: 0 0 2.5rem 0;
    color: #ccc;
    background-color: #151515;
}

main > .container > .contents > .movie-detail.fixed {
    position: fixed;
    left: 0;
    top: 2.625rem;
    z-index: 100;
    width: 100%;
    height: 5rem;
    margin: 0;
    background-color: rgba(0,0,0,.9);
}

main > .container > .contents > .movie-detail > .bg-img > img {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    width: 68.75rem;
    margin: 0 0 0 -34.375rem;
    height: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: .8;
    object-fit: cover;
    object-position: top;
    /*background-image: url(https://img.megabox.co.kr/SharedImg/2022/12/02/DbLIAXoKPHL5rHaoBohOQ8GbWbwL6vxl_570.jpg);*/
}

main > .container > .contents > .movie-detail.fixed > .bg-img {
    background-attachment: scroll;
    background-size: 100% auto;
    display: none;
}

main > .container > .contents > .movie-detail > .bg-patten {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: url(https://img.megabox.co.kr/static/pc/images/movie/bg-movie-detail-pattern.png) repeat-x 0 0;
}

main > .container > .contents > .movie-detail.fixed > .bg-patten {
    display: none;
}

main > .container > .contents > .movie-detail > .bg-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0f0f0f 20%, rgba(15, 15, 15, 0) 50%, #0f0f0f 80%);
}

main > .container > .contents > .movie-detail.fixed > .bg-mask {
    display: none;
}

main > .container > .contents > .movie-detail > .detail-content {
    position: relative;
    z-index: 4;
    width: 68.75rem;
    height: 100%;
    margin: 0 auto;
    padding-top: 3.4375rem;
}

main > .container > .contents > .movie-detail.fixed > .detail-content {
    position: relative;
    z-index: 104;
    width: 68.75rem;
    height: 5rem;
    margin: 0 auto;
    padding-top: 0;
}

main > .container > .contents > .movie-detail > .detail-content > .title {
    position: static;
    left: inherit;
    top: inherit;
    width: 50rem;
    padding-top: 2.5rem;
    color: #fff;
    font-size: 3.0666em;
    font-weight: 400;
    line-height: 1.2;
    text-shadow: 0.125rem 0.125rem 0.625rem rgb(0 0 0 / 70%);
}

main > .container > .contents > .movie-detail.fixed > .detail-content > .title {
    padding-top: 2rem;
    font-size: 1.6em;
}

main > .container > .contents > .movie-detail > .detail-content > p {
    margin: 0;
    padding: 0;
}

main > .container > .contents > .movie-detail > .detail-content > .title-en {
    width: 50rem;
    padding-top: 0.625rem;
    font-size: 1.3333em;
    color: rgb(255, 255, 255);
    line-height: 1.1;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main > .container > .contents > .movie-detail.fixed > .detail-content > .title-en {
    display: none;
}

main > .container > .contents > .movie-detail > .detail-content > .info {
    position: absolute;
    left: 0;
    bottom: 2.8125rem;
    padding: 0;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main > .container > .contents > .movie-detail.fixed > .detail-content > .info {
    display: none;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .score-container {
    float: left;
    padding: 0;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .score-container > .title {
    margin: 0;
    display: block;
    padding: 0 0 0.9375rem 0;
    line-height: 1.1;
    font-size: .9333em;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .score-container > .score-div {
    margin: -2rem 0 1rem 0;
    padding: 0 0 0 1.875rem;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-megabox.png) no-repeat 0 center;
    font-weight: 400;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .score-container > .score-div > .score {
    font-size: 2.1333em;
    color: #59bec9;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    /*margin: 0;*/
    /*padding: 0;*/
}

main > .container > .contents > .movie-detail > .detail-content > .info > .score-container > .score-div > .score > em {
    font-style: normal;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .rate,
main > .container > .contents > .movie-detail > .detail-content > .info > .audience {
    float: left;
    padding: 0 0 0 2.1875rem;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .rate .title {
    margin: 0;
    display: block;
    padding: 0 0 0.9375rem 0;
    line-height: 1.1;
    font-size: .9333em;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .rate .cnt {
    display: inline-block;
    min-height: 2.1875rem;
    padding: 0 0 0 1.875rem;
    vertical-align: middle;
    line-height: 1.1;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-ticket-gray.png) no-repeat 0 center;
    margin: 0;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .rate .percentage {
    margin: 0 0 0 1.5rem;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .rate .cnt > em,
main > .container > .contents > .movie-detail > .detail-content > .info > .audience > .cnt {
    margin: 0 0.25rem 0 0;
    color: #fff;
    font-size: 2.1333em;
    /*font-family: Roboto,Dotum,'돋움',sans-serif;*/
    font-weight: 400;
    letter-spacing: 0.3rem;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .audience > .title {
    margin: 0;
    position: relative;
    display: block;
    padding: 0 0 0.9375rem 0;
    line-height: 1.1;
    font-size: .9333em;
}

main > .container > .contents > .movie-detail > .detail-content > .info > .audience > .cnt {
    display: inline-block;
    padding: 0 0 0 1.875rem;
    vertical-align: middle;
    line-height: 1.1;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-person.png) no-repeat 0 center;
}

main > .container > .contents > .movie-detail > .detail-content > .poster {
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    top: 2.8125rem;
    z-index: 2;
    width: 16.25rem;
    height: 23.375rem;
}

main > .container > .contents > .movie-detail.fixed > .detail-content > .poster {
    display: none;
}

main > .container > .contents > .movie-detail > .detail-content > .poster > .wrap {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
}

main > .container > .contents > .movie-detail > .detail-content > .poster > .wrap > .grade {
    overflow: hidden;
    position: absolute;
    left: 0.625rem;
    top: 0.625rem;
    z-index: 4;
}


main > .container > .contents > .movie-detail > .detail-content > .poster > .wrap > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
}

main > .container > .contents > .movie-detail > .detail-content > .book {
    border-radius: 0.3125rem;
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    bottom: 5.2rem;
    width: 16.25rem;
}

main > .container > .contents > .movie-detail.fixed > .detail-content > .book {
    top: 1.375rem;
    bottom: inherit;
}

main > .container > .contents > .movie-detail > .detail-content > .book > .book-link {
    background-color: #329eb1;
    display: block;
    float: left;
    height: 2.875rem;
    line-height: 2.75rem;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 0.3125rem;
    text-decoration: none;
    font-weight: 700;
    width: 16.25rem;
}

main > .container > .contents > .movie-detail > .detail-content > .book > .book-link:hover {
    background-color: #2c8b9b;
    color: rgb(230, 230, 230);
}

main > .container > .contents > .content-data > .inner-wrap {
    width: 68.75rem;
    margin: 0 auto;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list {
    position: static;
    width: 100%;
    background-color: rgb(255,255,255);
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed {
    position: fixed;
    left: 0;
    right: inherit;
    top: 7.625rem;
    z-index: 50;
    width: 100%;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 12%);
    cursor: pointer;

}

/*.tab-list:after, .tab-list:before {*/
/*    content: '';*/
/*    display: table;*/
/*}*/

main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul {
    width: 68.75rem;
    margin: 0 auto;
    display: -webkit-box;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul > li.on {
    background-color: transparent;
    margin: 0;
    border: 0;
}

/*main > .container > .contents > .content-data > .inner-wrap > .tab-list.move > ul > li:first-child {*/
/*    margin-left: 0;*/
/*}*/

main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul > li {
    width: auto!important;
    border: 0;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul > li:nth-of-type(2),
main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul > li:nth-of-type(3) {
    margin: 0 0 0 2.5rem;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul > li.on:nth-of-type(2),
main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul > li.on:nth-of-type(3) {
    margin-left: 2.5rem;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul > li.on > a {
    background-color: transparent;
    border-color: #503396;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list.fixed > ul > li > a {
    height: 100%;
    border-bottom: 0.125rem solid transparent;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list > ul {
    position: relative;
    width: 100%;
    height: 2.625rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list > ul > li.on {
    border: 0.0625rem solid #503396;
    border-bottom: 0;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list > ul > li {
    text-align: center;
    width: 33.3%;
    border: 0.0625rem solid #ebebeb;
    border-bottom-color:#503396;
}

main > .container > .contents > .content-data > .inner-wrap > .tab-list > ul > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 2.5625rem;
    line-height: 2.5rem;
    padding: 0;
    text-align: center;
    color: #222;
    font-size: 1.0667em;
    text-decoration: none;
    cursor: pointer;

}

main > .container > .contents > .content-data > .inner-wrap > .tab-list > ul > li.on > a {
    color: #503396;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary {
    margin-top: 1.25rem;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary.on > .txt {
    height: auto;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary > .txt {
    overflow: hidden;
    height: 8.675rem;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary > .txt:first-line {
    color: #222;
    font-size: 2em;
    font-weight: 400;
    line-height: 4.375rem;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary > .more-btn {
    padding-top: 1.875rem;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary > .more-btn > .btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2.5rem;
    border: 0;
    border-bottom: 0.0625rem solid #eaeaea;
    background-color: transparent;
    color: #666;
    cursor: pointer;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary > .more-btn > .btn:hover {
    border-color: #000;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary > .more-btn > .btn:focus {
    outline: 0.0625rem dotted #000;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary > .more-btn > .btn > i {
    margin: 0 0.375rem 0.2rem 0;
    width: 0.75rem;
    height: 0.4375rem;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-btn-more-arr.png);
    overflow: hidden;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-summary.on > .more-btn > .btn > i {
    transform: rotate(180deg);
}

main > .container > .contents > .content-data > .inner-wrap > .movie-info {
    padding: 1.875rem 0;
    color: #222;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-info > p,
main > .container > .contents > .content-data > .inner-wrap > .movie-info > .line > p {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 0 0 1.25rem;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-info > p,
main > .container > .contents > .content-data > .inner-wrap > .movie-info > .line > p:first-child {
    padding: 0;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-info > .line > p:nth-of-type(3):before,
.movie-info > .line > p:nth-of-type(5):before,
.movie-info > .line > p:nth-of-type(7):before {
    content: '';
    display: block;
    position: absolute;
    left: 0.5625rem;
    top: 50%;
    width: 0.0625rem;
    height: 0.8125rem;
    margin-top: -0.375rem;
    background-color: #d8d9db;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-info > .line > p {
    margin: 0;
    /*padding: 0;*/
}

main > .container > .contents > .content-data > .inner-wrap > .movie-info > .line > .value {
    padding: 0;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-info > .line {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col {
    display: table-cell;
    width: 25%;
    border: 0.0625rem solid #eaeaea;
    padding: 1.875rem 0;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col > dl {
    text-align: center;
    font-weight: 400;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col > dl > dt {
    font-size: 1.0667em;
    color: #555;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col > .score {
    position: relative;
    bottom: 0.9375rem;
    height: 10.125rem;
    margin-top: 1.875rem;
    text-align: center;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col > .score > .circle {
    left: 13.4rem;
    top: 0.75rem;
    z-index: 12;
    width: 7.5rem;
    height: 7.5rem;
    line-height: 7.5rem;
    border-radius: 7.5rem;
    background-color: #6543b1;
    overflow: hidden;
    display: block;
    position: absolute;
    color: #fff;
    font-size: 2em;
    font-weight: 400;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col > .score > .circle > em {
    font-style: normal;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col > dl > dd {
    font-size: 2.2em;
    color: #6543b1;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col > .graph {
    overflow: hidden;
    width: 13.5rem;
    height: 13.5rem;
    margin: 0 auto;
}

main > .container > .contents > .content-data > .inner-wrap > .movie-graph > .col > .graph > canvas {
    width: 13.75rem;
    height: 12.8125rem;
    display: block;
}

main > .container > .contents > .content-data > .inner-wrap > .comment-info {
    margin: 4.375rem 0 0.9375rem 0;
}

main > .container > .contents > .content-data > .inner-wrap > .comment-info > .comment-info-title {
    font-size: 1.4666em;
    color: #503396;
    padding: 0;
    line-height: 1.1;
    letter-spacing: -0.0625rem;
    display: flex;
}

main > .container > .contents > .content-data > .inner-wrap > .comment-info > .comment-info-title > p {
    margin: 0;
}

main > .container > .contents > .content-data > .inner-wrap > .comment-info > .comment-info-title > .comment-cnt {
    color: #01738b;
}

main > .container > .contents > .content-data > .inner-wrap > .comment {
    display: block;
    position: relative;
    min-height: 31.25rem;
    margin-bottom: 5rem;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form  {
    width: 100%;
    margin-top: 1rem;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form  > .text-area {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form  > .text-area > .user-profile {
    position: relative;
    float: left;
    width: 6.6525rem;
    text-align: center;
    height: 5.5rem;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .user-profile > .profile-img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin: 0 auto 0.625rem;
    overflow: hidden;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .user-profile > .profile-img > img {
    width: 100%;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .user-profile > .profile-img > p {
    margin: 0;
    width: 6.5625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9333em;
    line-height: 1.1;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box {
    border-radius: 0 0.625rem 0.625rem 0.625rem;
    border: 0.0625rem solid #eaeaea;
    background-color: #fff;
    /*height: 6.2rem;*/
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap {
    display: table;
    width: 100%;
    height: 5.25rem;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review > .title {
    float: left;
    height: 5.25rem;
    width: 6.5625rem;
    line-height: 5.125rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 0 0 0 0.625rem;
    color: #503396;
    background-color: #f8f8fa;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap > .text-content {
    display: table-cell;
    float: none;
    width: 53.125rem;
    height: 5.25rem;
    vertical-align: middle;
    padding-left: 1.875rem;
    text-align: left;
    color: #666;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap > .text-content > span {
    color: #01738b;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap > .text-write {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 8.9375rem;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap > .text-write > .write-btn {
    width: 6.5625rem;
    height: 1.5rem;
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap > .text-write > .write-btn.submit:hover {
    background-color: #462c7f;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap > .text-write > .write-btn > i {
    margin-right: 0.3125rem;
    width: 1.125rem;
    height: 1.125rem;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-story-write.png);
    overflow: hidden;
    display: inline-block;
    /*margin: -1px 0 0 0;*/
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: text-bottom;
    background-position: 0 0;
    background-repeat: no-repeat;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review > .text-content {
    background-color: #f8f8fa;
    color: #503396;
    border-radius: 0 0.625rem 0.625rem 0;
    height: 5.25rem;
    padding: 0;
    vertical-align: middle;
}

ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review > .text-content > .point,
ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review >.text-content > .recommend{
    display: table-cell;
    width: 5.625rem;
    height: 3.125rem;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: #503396;
}

ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review > .text-content > .point > span {
    display: inline-block;
    vertical-align: top;
    font-size: 2.4em;
    font-weight: 300;
}

/*ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review >.text-content > .recommend {*/
/*    display: table-cell;*/
/*    width: 85px;*/
/*    height: 50px;*/
/*    padding: 0 20px 0 0;*/
/*    vertical-align: middle;*/
/*    color: #503396;*/
/*}*/

ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review > .text-content > .recommend > em {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
    font-style: normal;
}

ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review > .text-content > .text-story {
    display: table-cell;
    position: relative;
    padding: 0 1.25rem 0 1.875rem;
    text-align: left;
    color: #666;
    vertical-align: middle;
    font-size: .9333em;
    line-height: 1.4;
}

ul > .comment-container > .text-form > .text-area > .text-box > .text-wrap.review > .text-write {
    border-radius: 0 0.625rem 0.625rem 0;
    background-color: #f8f8fa;
}

ul > .comment-container > .text-form > .story-date {
    padding: 0.625rem 0 0 0;
    text-align: right;
    font-size: .9333em;
    line-height: 1.1;
    color: #666;
}

ul > .comment-container > .text-form > .story-date > .written-on {
    display: block;
}

#contentData.fixed .movie-summary {
    margin-top: 42rem;
}

/*한줄평 작성 폼*/
.comment-container > .text-form.write-form {
    display: none;
}

.comment-container > .text-form.write-form.on {
    display: block;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box {
    display: flex;
    width: 62.6rem;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap {
    display: flex;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .title {
    width: 7.3rem;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-content > div {
    align-items: center;
    display: flex;
    width: 7.6rem;
    text-align: center;
}

/*main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-content > div > form > label > select {*/
/*    width: 80%;*/
/*    color: black;*/
/*    appearance: auto;*/
/*}*/

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-content > div > div > label > select {
    width: 80%;
    color: black;
    appearance: auto;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-content > .text-story {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-content > .text-story > label {
    width: 100%;
    height: 80%;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-content > .text-story > label > textarea {
    resize: none;
    background-color: white;
    width: 100%;
    height: 100%;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-write {
    align-items: center;
    display: flex;
    justify-content: center;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .text-area > .text-box > .text-wrap > .text-write > input {
    background-color: #503396;
    color: white;
    border-radius: 0.5rem;
    height: 2rem;
    cursor: pointer;
}

main > .container > .contents > .content-data > .inner-wrap > .comment > ul > .comment-container > .text-form.write-form > .story-date {
    cursor: pointer;
}
