@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

html, body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 540;
}

html > body {
    /*height: 100%;*/
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 0.9rem;
    color: #444;
    font-weight: 400;
}

.page-util {
    display: none;
}

.page-util.fixed {
    position: fixed;
    left: 0;
    right: inherit;
    top: 0;
    z-index: 51;
    background-color: #444;

    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.page-util > .inner-wrap {
    width: 68.75rem;
    margin: 0 auto;
}

.page-util > .inner-wrap > .location {
    float: left;
    height: 2.625rem;
    margin-left: 0.5rem;
}

.inner-wrap > .location > a:first-of-type {
    overflow: hidden;
    display: block;
    float: left;
    width: 0.8125rem;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
}

main > .container > .page-util > .inner-wrap > .location > a:first-of-type:hover {
    filter: brightness(85%);
}

.page-util > .inner-wrap > .location > a {
    display: block;
    position: relative;
    float: left;
    height: 2.625rem;
    margin: 0 0 0 1.5625rem;
    padding: 0;
    line-height: 2.875rem;
    color: rgb(255,255,255);
    font-size: 0.9375rem;
}

.page-util > .inner-wrap > .location > a:first-of-type {
    margin-left: 0;
}

.page-util > .inner-wrap > .location > a:hover {
    text-decoration: underline;
}

.page-util > .inner-wrap > .location > a:before {
    content: '';
    display: block;
    position: absolute;
    left: -0.875rem;
    top: 0;
    width: 0.3125rem;
    height: 2.625rem;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}

/*네비게이션 메뉴*/
.contents {
    width: 100%;
    margin: 0;
    padding: 5rem 0 0 0;
}

.contents > .inner-wrap.on {
    width: 67.75rem;
    margin: 0 auto;
    display: block;
}

.contents > .inner-wrap {
    width: 67.75rem;
    margin: 0 auto;
    display: none;
}

.contents > .inner-wrap > .tit {
    padding: 0 0 1.625rem 0;
    font-size: 1.8666em;
    font-weight: 550;
    letter-spacing: -0.0625rem;
    line-height: 1.1;
    color: #222;
}


.contents > .inner-wrap > .tab-list.fixed {
    position: fixed;
    left: 0;
    right: inherit;
    top: 42px;
    z-index: 50;
    width: 100%;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 12%);
    height: 42px;
}

.contents > .inner-wrap.on > .tab-list.fixed > .topMenu {
    width: 68.75rem;
    /*margin-left: 5rem;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    display: -webkit-box;
}

.contents > .inner-wrap.on > .tab-list.fixed > .topMenu > li {
    padding: 0;
    margin-left: 0.5rem;
    border: 0;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents > .inner-wrap.on > .tab-list.fixed > .topMenu > li:first-of-type {
    margin-left: 0;
}

.contents > .inner-wrap.on > .tab-list.fixed > .topMenu > .on {
    background-color: transparent;
    border-bottom: 0.125rem solid #503396;
}

.contents > .inner-wrap.on > .tab-list.fixed > .topMenu > li > a {
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
}

.contents > .inner-wrap.on > .tab-list > .topMenu {
    /*border: 0.0625rem solid #444444;*/
    list-style: none;
    padding: 0;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contents > .inner-wrap > .tab-list > .topMenu > li.on {
    border: 0.0625rem solid #503396;
    border-bottom: 0.0625rem solid rgb(255, 255, 255);
    margin: 0;
    padding: 1rem;
}

.contents > .inner-wrap > .tab-list > .topMenu > li.on > a {
    color: #503396;
}

.contents > .inner-wrap > .tab-list > .topMenu > li.on + li {
    border: 0.0625rem solid #ebebeb;
    border-bottom: 0.0625rem solid #503396;
    border-left: 0.0625rem solid #503396;
    margin: 0;
    padding: 1rem;
}

.contents > .inner-wrap > .tab-list > .topMenu > li {
    font-weight: 550;
    margin: 0;
    padding: 1rem;
    /*width: 100%;*/
    border: 0.0625rem solid #ebebeb;
    border-bottom: 0.0625rem solid #503396;
}

.contents > .inner-wrap > .tab-list > .topMenu > li:hover {
    background-color: #ebebeb;
}

.contents > .inner-wrap > .tab-list > .topMenu > li.on:hover {
    background-color: rgb(255, 255, 255);
}


.contents > .inner-wrap > .tab-list > .topMenu > li > a {
    padding: 1.1rem 12.8rem 1.25rem;
    color: #444;
    font-size: 1.2rem;
    text-decoration: none;
}

.contents > .inner-wrap > .tab-list > .topMenu > li:first-of-type {
    border-right: none;
}

/*검색*/

.movie-list-util {
    overflow: hidden;
    margin: 2.5rem 0 0.9rem 0;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-list-util > .onAir-condition {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-list-util > .onAir-condition > .toggleSwitch {
    width: 2.0625rem;
    height: 1.2rem;
    display: block;
    position: relative;
    border-radius: 1.875rem;
    background-color: rgb(204, 204, 204);
    /*box-shadow: 0 0 1rem 0.1875rem rgba(0 0 0 / 15%);*/
    cursor: pointer;
    margin-right: 0.5rem;
}

.movie-list-util > .onAir-condition > .toggleSwitch > .toggleBtn {
    width: 0.875rem;
    height: 0.875rem;
    position: absolute;
    top: 50%;
    left: 0.125rem;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgb(255, 255, 255);
}

#toggle:checked ~ .toggleSwitch {
    background: rgb(52, 163, 183);
}

#toggle:checked ~ .toggleSwitch .toggleBtn {
    background: rgb(255, 255, 255);
    left: calc(100% - 1rem);
    /*left: 100%;*/
}

.movie-list-util > .onAir-condition > .toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
}

.movie-list-util > .onAir-condition > span {
    font-weight: inherit;
    font-size: 1rem;
}

.movie-list-util > .onAir-condition > .search-result {
    float: left;
    margin: 0 0 0.2rem 1.25rem;
    padding: 0.0625rem 0 0 0;
    color: #222;
    line-height: 2.125rem;
    font-size: 1rem;
}

.movie-list-util > .onAir-condition > .search-result > #searchCnt {
    font-weight: 700;
}


.movie-list-util > .movie-search {
    position: relative;
    float: right;
    width: 12rem;
    height: 2.25rem;
    margin: 0;
    padding: 0 1.9375rem 0 0;
    border: 0.0625rem solid #d8d9db;
    border-radius: 0.1875rem;
    font-size: 1rem;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.movie-list-util > .movie-search > form > label > .input-text {
    padding: 0 0.625rem;
    display: block;
    width: 100%;
    height: 2.125rem;
    border: 0;
}

.movie-list-util > .movie-search > form > label > .btn-search-input {
    position: absolute;
    right: 0.0625rem;
    top: 0.0625rem;
    overflow: hidden;
    width: 1.875rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png) no-repeat center;
}

/*영화 리스트*/

.contents > .inner-wrap > .movie-list > ol {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -3.75rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    /*display: flex;*/
    flex-direction: row;
    justify-content: flex-start;
}

.contents > .inner-wrap > .movie-list > ol > .movie {
    overflow: hidden;
    position: relative;
    float: left;
    width: 14.375rem;
    height: 28.125rem;
    padding: 0;
    background-color: #fff;
    margin: 0 0 3.75rem 3.75rem;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster {
    overflow: hidden;
    display: block;
    position: relative;
    height: 20.69rem;
    text-decoration: none
}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-poster {
    width: 14.375rem;
    height: 20.69rem;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-detail {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    /*z-index: -1;*/
    /*width: 11.675rem;*/
    /*height: 18.19rem;*/
    color: #fff;
    height: 20.69rem;
    width: 14.375rem;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster:hover > .movie-detail {
    opacity: 1;
    /*z-index: 10;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*transition: opacity 0.5s;*/

}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-detail > .wrap-poster {
    position: relative;
    display: block;
    width: 83%;
    height: 88%;
    padding: 1.25rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

/*.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-detail > .wrap-poster:hover {*/
/*    color: rgb(255, 255, 255);*/
/*    text-decoration: none;*/
/*    outline: 0.0625rem dotted rgb(0, 0, 0);*/
/*}*/

.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-detail > .wrap-poster > .summary {
    overflow: hidden;
    height: 9.5rem;
    font-size: 1em;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-detail > .wrap-poster > .score {
    overflow: hidden;
    width: 100%;
    margin-top: 6.875rem;
    padding-top: 0.3125rem;
    border-top: 0.0625rem solid #3c3c3c;
    text-align: center;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-detail > .wrap-poster > .score > .preview {
    display: inline-block;
    vertical-align: middle;
    line-height: 2.25rem;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-detail > .wrap-poster > .score > .preview > .title {
    display: block;
    float: left;
    margin: 0 0.9375rem 0 0;
    font-size: 0.8667em;
    color: rgb(255, 255, 255);
}

.contents > .inner-wrap > .movie-list > ol > .movie > .poster > .movie-detail > .wrap-poster > .score > .preview > p {
    float: left;
    font-size: 1.6em;
    color: #59bec9;
    margin: 0;
    padding: 0;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .movie-info {
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0.9rem;
    padding: 0 0 0 1.875rem;
    line-height: 1.5rem;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > a {
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 87%;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > a > .title {
    overflow: hidden;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.125rem 0 0 0.0625rem;
    font-size: 1.25rem;
    font-weight: inherit;
}

/*.contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    width: 1.4375rem;*/
/*    height: 1.4375rem;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*등급 제한 png*/
/*.contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade.ageAll {*/
/*    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/ALL_46x46.png);*/
/*    background-size: 1.4375rem 1.4375rem;*/
/*}*/

/*.contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade.age12 {*/
/*    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_46x46.png);*/
/*    background-size: 1.4375rem 1.4375rem;*/
/*}*/

/*.contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade.age15 {*/
/*    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/15_46x46.png);*/
/*    background-size: 1.4375rem 1.4375rem;*/
/*}*/

/*.contents > .inner-wrap > .movie-list > ol > .movie > .movie-info > .grade.age18 {*/
/*    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/18_46x46.png);*/
/*    background-size: 1.4375rem 1.4375rem;*/
/*}*/

.contents > .inner-wrap > .movie-list > ol > .movie > .rate-date {
    overflow: hidden;
    padding-top: 0.425rem;
    font-size: 0.9rem;
    font-weight: 450;
    display: block;
    position: relative;
    float: left
}

.contents > .inner-wrap > .movie-list > ol > .movie > .rate-date > .rate {
    margin-right: 0.4375rem;
    padding-right: 0.5rem;
    float: left;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .rate-date > .rate::after {
    content: '';
    display: block;
    position: absolute;
    right: 59%;
    top: 68%;
    width: 0.0625rem;
    height: 0.75rem;
    margin: -0.375rem 0 0 0;
    background-color: #d8d9db;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .button {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.25rem;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .button > .book {
    float: left;
    /*width: 13.8rem;*/
    /*margin-left: 0.3rem;*/
    width: 100%;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .button > .book > .book-btn {
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    font-weight: inherit;
    border-radius: 0.25rem;
    /*font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;*/
    text-align: center;
    height: 2.25rem;
    line-height: 2.25rem;
    border: 0;
    background: #503396;
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contents > .inner-wrap > .movie-list > ol > .movie > .button > .book > .book-btn:hover {
    background-color: #351f67;
}

.movie-list-util > .onAir-condition > .sort-tab > span {
    display: block;
    position: relative;
    float: left;
    margin: 0 10px;
}

.movie-list-util > .onAir-condition > .sort-tab > span:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    display: block;
    width: 1px;
    height: 12px;
    margin: -6px 0 0 0;
    background-color: #d8d9db;
}

.movie-list-util > .onAir-condition > .sort-tab > span:first-child {
    margin-left: 0;
}

.movie-list-util > .onAir-condition > .sort-tab > span > .btn {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    display: block;
    cursor: pointer;
    letter-spacing: -0.5px;
    font-size: 1rem;

}

.movie-list-util > .onAir-condition > .sort-tab > span > .btn.on {
    color: #222;
    font-weight: 700;
}

