<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/mg_movie/movie/resources/stylesheets/booking.css}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script defer th:src="@{/mg_movie/movie/resources/scripts/booking.js}"></script>
</head>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<body>
<main class="--main main">
    <form class="reservation-container">
        <div class="reservation-box">
            <div class="title">
                <span>빠른예매</span>
            </div>
            <div class="data-container">
                <div class="time-schedule">
                    <button id="previousBtn" type="button">
                        <i class="icon fa-solid fa-chevron-left"></i>
                    </button>
                    <div class="time-list">
                        <button class="time-box">

                        </button>
                    </div>
                    <button id="nextBtn" type="button">
                        <i class="icon fa-solid fa-chevron-right"></i>
                    </button>
                    <button>
                        <i class="fa-solid fa-calendar"></i>
                    </button>
                </div>
                <div class="quick-container">
                    <div class="quick-movie-box">
                        <div class="quick-movie">
                            <span class="quick-title">영화</span>
                            <div class="quick-movie-list">
                                <div class="title">
                                    <span>전체</span>
                                </div>
                                <div class="list">
                                    <div class="list-collect">
                                        <!--/*@thymesVar id="movies" type="dev.babsang.megabox.entities.movie.MovieEntity[]"*/-->
                                        <div class="list-box" th:each="movie : ${movies}">
                                            <input rel="release-date" hidden name="releaseDate"
                                                   th:value="${#dates.format(movie.getReleaseDate(), 'yyyy-MM-dd')}">
                                            <input rel="end-date" hidden name="endDate"
                                                   th:value="${#dates.format(movie.getEndDate(), 'yyyy-MM-dd')}">
                                            <div th:class="${movie.getAgeLimit()}"></div>
                                            <span th:text="${movie.getTitle()}">
                                                <input rel="list-movie-title" hidden name="listMovieTitle"
                                                       th:value="${movie.getTitle()}">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quick-content">
                                <span>모든영화<br>목록에서 영화를 선택하세요.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="quick-theater-box">
                        <div class="quick-theater">
                            <span class="quick-title">극장</span>
                            <div class="quick-theater-list">
                                <div class="title">
                                    <span>전체</span>
                                </div>
                                <div class="list">
                                    <ul class="quick-region">
                                        <!--/*@thymesVar id="region" type="dev.babsangbranch.megabox.entities.movie.RegionEntity"*/-->
                                        <li class="region" th:text="${region.getText()}">

                                        </li>
                                    </ul>
                                    <ul class="quick-city">
                                        <!--/*@thymesVar id="branches" type="dev.babsang.megabox.entities.movie.BranchEntity[]"*/-->
<!--                                        <button class="city" th:each="branch : ${branches}">-->
<!--                                            <span class="city-name" th:text="${branch.getText()}">-->

<!--                                            </span>-->
<!--                                        </button>-->
                                    </ul>
                                </div>
                            </div>
                            <div class="quick-content">
                                <span>전체영화<br>목록에서 극장을 선택하세요.</span>
                            </div>
                        </div>
                    </div>
                    <div class="quick-time-box">
                        <div class="quick-time">
                            <div class="quick-time-title">
                                <span class="quick-title">시간</span>
                                <div class="empty-box"></div>
                                <span>
                                <i class="fa-solid fa-sun">
                                    <span>조조</span>
                                </i>
                                </span>
                                <span>
                                <i class="fa-solid fa-mug-hot">
                                    <span>브런치</span>
                                </i>
                                </span>
                                <span>
                                <i class="fa-solid fa-moon">
                                    <span>심야</span>
                                </i>
                            </span>
                            </div>
                            <div class="time-collect-box">
                                <div id="previousTimeBtn">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </div>
                                <div class="time-container">
                                    <div class="time-wrap">
                                        <div></div>
                                    </div>
                                </div>
                                <div id="nextTimeBtn">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                            <div class="select-movie-time">
                                <div class="before-select-movie-time">
                                    <i class="icon fa-solid fa-film"></i>
                                    <span>영화와 극장을 선택하시면</span>
                                    <span>상영시간표를 비교하여 볼 수 있습니다.</span>
                                </div>
                                <!--/*@thymesVar id="infos" type="dev.babsang.megabox.vos.movie.MovieScreenInfoVo"*/-->
                                <div class="movie-time-cover" th:each="info : ${infos}">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span rel="screen-date" class="screen-date"
                                                      th:text="${#dates.format(info.getMvStartTime(), 'HH:mm')}"
                                                      th:value="${#dates.format(info.getScreenDate(), 'yyyy-MM-dd')}">
                                                </span>
                                                <span th:text="${#dates.format(info.getMvEndTime(), '~HH:mm')}"></span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span rel="movie-title" th:text="${info.getInfoMovieTitle()}">올빼미</span>
                                            <span th:text="${info.getInfoMovieState}">2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span rel="movie-branch" class="movie-branch"
                                                  th:text="${info.getInfoBranchText()}"
                                                  th:value="${info.getInfoBranchText()}">강남</span>
                                            <span th:text="${info.getInfoAudText()}">3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>