<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/mg_movie/movie/resources/stylesheets/fast-reservation.css}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script defer th:src="@{/mg_movie/movie/resources/scripts/fast-reservation.js}"></script>
    <script src="../../../../../../study-member-bbs/src/main/resources/static/bbs/resources/scripts/modify.js"></script>
</head>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<body>
<main class="--main main">
    <div class="reservation-container">
        <input type="hidden" name="mid">
        <div class="reservation-box">
            <div class="title">
                <span>빠른예매</span>
            </div>
            <div class="data-container">
                <div class="time-schedule">
                    <button id="previousBtn">
                        <i class="icon fa-solid fa-chevron-left"></i>
                    </button>
                    <div class="time-list">
                        <div class="time-box">

                        </div>
                    </div>
                    <button id="nextBtn">
                        <i class="icon fa-solid fa-chevron-right"></i>
                    </button>
                    <button>
                        <i class="fa-solid fa-calendar"></i>
                    </button>
                </div>
                <div class="quick-container">
                    <div class="quick-movie-box">
                        <div class="quick-movie">
                            <span class="quick-title">영화</span>
                            <div class="quick-movie-list">
                                <div class="title">
                                    <span>전체</span>
                                </div>
                                <div class="list">
                                    <div class="list-collect">
                                        <!--/*@thymesVar id="movies" type="dev.babsang.megabox.entities.movie.MovieEntity[]"*/-->
                                        <div class="list-box" th:each="movie : ${movies}">
                                            <input rel="release-date" hidden name="releaseDate"
                                                   th:value="${#dates.format(movie.getReleaseDate(), 'yyyy-MM-dd')}">
                                            <input rel="end-date" hidden name="endDate"
                                                   th:value="${#dates.format(movie.getEndDate(), 'yyyy-MM-dd')}">
                                            <div th:class="${movie.getAgeLimit()}"></div>
                                            <span th:text="${movie.getTitle()}">영화포스터제목</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quick-content">
                                <span>모든영화<br>목록에서 영화를 선택하세요.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="quick-theater-box">
                        <div class="quick-theater">
                            <span class="quick-title">극장</span>
                            <div class="quick-theater-list">
                                <div class="title">
                                    <span>전체</span>
                                </div>
                                <div class="list">
                                    <ul class="quick-region">
                                        <li class="region-seoul">
                                            <span>서울(19)</span>
                                        </li>
                                        <li class="region-gyeonggi">
                                            <span>경기(31)</span>
                                        </li>
                                        <li class="region-incheon">
                                            <span>인천(5)</span>
                                        </li>
                                        <li class="region-daejeon">
                                            <span>대전/충청/세종(15)</span>
                                        </li>
                                        <li class="region-gyeongsang">
                                            <span>부산/대구/경상(25)</span>
                                        </li>
                                        <li class="region-jeonla">
                                            <span>광주/전라(9)</span>
                                        </li>
                                        <li class="region-gangwon">
                                            <span>강원(5)</span>
                                        </li>
                                    </ul>
                                    <ul class="quick-city">
                                        <li class="seoul-city">
                                            <span class="seoul">강남</span>
                                            <span class="seoul">강남대로</span>
                                            <span class="seoul">강남강동</span>
                                            <span class="seoul">군자</span>
                                            <span class="seoul">동대문</span>
                                        </li>
                                        <li class="gyeonggi-city">
                                            <span class="gyeonggi">고양스타필드</span>
                                            <span class="gyeonggi">광명AK플라자</span>
                                            <span class="gyeonggi">광명소하</span>
                                            <span class="gyeonggi">금정AK플라자</span>
                                            <span class="gyeonggi">김포한강신도시</span>
                                        </li>
                                        <li class="incheon-city">
                                            <span class="incheon">검단</span>
                                            <span class="incheon">송도</span>
                                            <span class="incheon">영종</span>
                                            <span class="incheon">인천논현</span>
                                            <span class="incheon">청라지젤</span>
                                        </li>
                                        <li class="daejeon-city">
                                            <span class="daejeon">공주</span>
                                            <span class="daejeon">논산</span>
                                            <span class="daejeon">대전</span>
                                            <span class="daejeon">대전신세계 아트앤사이언스</span>
                                            <span class="daejeon">대전유성</span>
                                        </li>
                                        <li class="gyeongsang-city">
                                            <span class="gyeongsang">경북도청</span>
                                            <span class="gyeongsang">경산하양</span>
                                            <span class="gyeongsang">경주</span>
                                            <span class="gyeongsang">구미강동</span>
                                            <span class="gyeongsang">김천</span>

                                        </li>
                                        <li class="jeonla-city">
                                            <span class="jeonla">광주상무</span>
                                            <span class="jeonla">광주하남</span>
                                            <span class="jeonla">목포하당(포르모)</span>
                                            <span class="jeonla">순천</span>
                                            <span class="jeonla">여수웅천</span>

                                        </li>
                                        <li class="gangwon-city">
                                            <span class="gangwon">남춘천</span>
                                            <span class="gangwon">속초</span>
                                            <span class="gangwon">원주</span>
                                            <span class="gangwon">원주센트럴</span>
                                            <span class="gangwon">춘천석사</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="quick-content">
                                <span>전체영화<br>목록에서 극장을 선택하세요.</span>
                            </div>
                        </div>
                    </div>
                    <div class="quick-time-box">
                        <div class="quick-time">
                            <div class="quick-time-title">
                                <span class="quick-title">시간</span>
                                <div class="empty-box"></div>
                                <span>
                                <i class="fa-solid fa-sun">
                                    <span>조조</span>
                                </i>
                                </span>
                                <span>
                                <i class="fa-solid fa-mug-hot">
                                    <span>브런치</span>
                                </i>
                                </span>
                                <span>
                                <i class="fa-solid fa-moon">
                                    <span>심야</span>
                                </i>
                            </span>
                            </div>
                            <div class="time-collect-box">
                                <div id="previousTimeBtn">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </div>
                                <div class="time-container">
                                    <div class="time-wrap">
                                        <div></div>
                                    </div>
                                </div>
                                <div id="nextTimeBtn">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                            <div class="select-movie-time">
<!--                                <i class="icon fa-solid fa-film"></i>-->
<!--                                <span>영화와 극장을 선택하시면</span>-->
<!--                                <span>상영시간표를 비교하여 볼 수 있습니다.</span>-->
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-time-cover on">
                                    <div class="movie-time-info-box">
                                        <div class="movie-time">
                                            <div class="time-icon"></div>
                                            <div class="time-box">
                                                <span>09:30</span>
                                                <span>~11:40</span>
                                            </div>
                                        </div>
                                        <div class="movie-title-state">
                                            <span>올빼미</span>
                                            <span>2D</span>
                                        </div>
                                        <div class="movie-place">
                                            <span>강남</span>
                                            <span>3관</span>
                                            <div class="seat-box">
                                                <span>196</span>
                                                <span>/232</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>

</html>