<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MegaBox :: 박스오피스</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/mg_movie/movie/resources/stylesheets/movie.css}">
    <script defer th:src="@{/mg_movie/movie/resources/scripts/movie.js}"></script>
</head>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<body>
<div class="page-util" id="pageUtil">
    <div class="inner-wrap">
        <div class="location">
            <a th:href="@{/}">Home</a>
            <a th:href="@{./movie}">영화</a>
            <a th:href="@{./movie}">전체영화</a>
        </div>
    </div>
</div>
<div class="contents" id="contents">
    <div class="inner-wrap on" rel="boxInnerWrap">
        <h2 class="tit">전체영화</h2>
        <div class="tab-list" id="BoxTabList">
            <ul class="topMenu">
                <li class="on">
                    <a href="#" title="박스오피스 탭으로 이동">박스오피스</a>
                </li>
                <li>
                    <a href="#" title="상영예정작 탭으로 이동" rel="notScreen">상영예정작</a>
                </li>
            </ul>
        </div>
        <div class="movie-list-util">
            <div class="onAir-condition">
                <input type="checkbox" id="toggle" hidden>
                <label for="toggle" class="toggleSwitch">
                    <span class="toggleBtn"></span>
                </label>
                <span>개봉작만</span>
                <p class="search-result">
                    <strong class="searchCnt" th:text="${movies.length}">8</strong>
                    개의 영화가 검색되었습니다.
                </p>
            </div>
            <div class="movie-search">
                <input type="text" name="movie-search" placeholder="영화명 검색" class="input-text">
                <button type="button" class="btn-search-input"></button>
            </div>
        </div>
        <div class="movie-list">
            <ol class="list first">
                <li class="movie" th:each="movie : ${movies}">
                    <div class="poster">
                        <img th:src="${movie.getMoviePoster()}" alt="" class="movie-poster">
                        <div class="movie-detail">
                            <a th:href="@{./movie-detail (mid=${movie.getIndex()})}" class="wrap-poster">
                                <div class="summary" th:text="${movie.getSummary().replaceAll('<br>','')}"></div>
                                <div class="score">
                                    <div class="preview">
                                        <p class="title">관람평</p>
                                        <p class="number" th:text="${movie.getScoreAvg()}">
                                            9.1
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="movie-info">
                        <p class="grade age12" th:class="${movie.getAgeLimit()}"></p>
                        <a th:href="@{./movie-detail (mid=${movie.getIndex()})}">
                            <p class="title" th:text="${movie.getTitle()}">아바타: 물의 길</p>
                        </a>
                    </div>
                    <div class="rate-date">
<!--                                                    <span class="rate">-->
                        <span class="rate" th:text="'예매율 ' + ${movie.getBookRate()} + '%'">
                            예매율 85%</span>
                        <span class="date" th:text="'개봉일 ' + ${#dates.format(movie.getReleaseDate(), 'yyyy.MM.dd')}">개봉일 2022.12.14</span>
                    </div>
                    <div class="button">
                        <div class="book">
                            <a class="book-btn">예매</a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="inner-wrap" rel="commingInnerWrap">
        <h2 class="tit">상영예정작</h2>
        <div class="tab-list" id="commingTabList">
            <ul class="topMenu">
                <li>
                    <a href="#" title="박스오피스 탭으로 이동" rel="boxOffice">박스오피스</a>
                </li>
                <li class="on">
                    <a href="#" title="상영예정작 탭으로 이동">상영예정작</a>
                </li>
            </ul>
        </div>
        <div class="movie-list-util">
            <div class="onAir-condition">
                <div class="sort-tab">
                    <span>
                        <button class="btn on" type="button">개봉일순</button>
                    </span>
                    <span>
                        <button class="btn" type="button">가나다순</button>
                    </span>
                </div>
                <p class="search-result">
                    <strong class="searchCnt" th:text="${movies.length}">8</strong>
                    개의 영화가 검색되었습니다.
                </p>
            </div>
            <div class="movie-search">
                <input type="text" name="movie-search" placeholder="영화명 검색" class="input-text">
                <button type="button" class="btn-search-input"></button>
            </div>
        </div>
        <div class="movie-list">
            <ol class="list first">
                <li class="movie" th:each="movie : ${commingMovies1}">
                    <div class="poster">
                        <img th:src="${movie.getMoviePoster()}" alt="" class="movie-poster">
                        <div class="movie-detail">
                            <a th:href="@{./movie-detail (mid=${movie.getIndex()})}" class="wrap-poster">
                                <div class="summary" th:text="${movie.getSummary().replaceAll('<br>','')}"></div>
                                <div class="score">
                                    <div class="preview">
                                        <p class="title">관람평</p>
                                        <p class="number" th:text="${movie.getScoreAvg()}">
                                            9.1
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="movie-info">
                        <p class="grade age12" th:class="${movie.getAgeLimit()}"></p>
                        <a th:href="@{./movie-detail (mid=${movie.getIndex()})}">
                            <p class="title" th:text="${movie.getTitle()}">아바타: 물의 길</p>
                        </a>
                    </div>
                    <div class="rate-date">
                            <span class="rate" th:text="'예매율 '+ ${movie.getBookRate() + '%'}">개봉 예정택</span>
                        <span class="date" th:text="'개봉일 ' + ${#dates.format(movie.getReleaseDate(), 'yyyy.MM.dd')}">개봉일 2022.12.14</span>
                    </div>
                    <div class="button">
                        <div class="book">
                            <a class="book-btn">예매</a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>