<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie-Detail</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/mg_movie/movie/resources/stylesheets/movie-detail.css}">
</head>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<body>
<main class="--main">
    <div class="container">
        <div class="contents">
            <div class="movie-detail">
                <div class="bg-img"></div>
                <div class="bg-patten"></div>
                <div class="bg-mask"></div>
                <div class="detail-content">
                    <p class="title">올빼미</p>
                    <p class="title-en">the night owl</p>
                    <div class="info">
                        <div class="score-container">
                            <p class="title">실관람 평점</p>
                            <div class="score-div">
                                <p class="score"><em>9.2</em></p>
                            </div>
                        </div>
                        <div class="rate">
                            <p class="title">예매율</p>
                            <p class="cnt"><em>2</em>위 (3.6%)</p>
                        </div>
                        <div class="audience">
                            <p class="title">누적관객수</p>
                            <p class="cnt"><em>2,585,755</em>명</p>
                        </div>
                    </div>
                    <div class="poster">
                        <div class="wrap">
                            <p class="grade age15"></p>
                            <img src="https://img.megabox.co.kr/SharedImg/2022/11/24/xFO8r2xbXzxoMD9iXbuKC1n5Bo79InhQ_420.jpg"
                                 alt="올빼미">
                        </div>
                    </div>
                    <div class="book">
                        <a href="#" class="book-link">예매</a>
                    </div>
                </div>
            </div>
            <div class="content-data" id="contentData">
                <div class="inner-wrap">
                    <div class="tab-list">
                        <ul>
                            <li class="on">
                                <a href="#">주요정보</a>
                            </li>
                            <li>
                                <a href="#">실관람평</a>
                            </li>
                            <li>
                                <a href="#">무비포스트</a>
                            </li>
                        </ul>
                    </div>
                    <div class="movie-summary">
                        <div class="txt">
                            맹인이지만 뛰어난 침술 실력을 지닌 ‘경수’는<br>어의 ‘이형익’에게 그 재주를 인정받아 궁으로 들어간다.<br>그 무렵, 청에 인질로 끌려갔던 ‘소현세자’가 8년 만에
                            귀국하고,<br>‘인조’는 아들을 향한 반가움도 잠시 정체 모를 불안감에 휩싸인다.<br>그러던 어느 밤, 어둠 속에서는 희미하게 볼 수 있는 ‘경수’가<br>‘소현세자’의
                            죽음을 목격하게 되고<br>진실을 알리려는 찰나 더 큰 비밀과 음모가 드러나며<br>목숨마저 위태로운 상황에 빠진다.<br>아들의 죽음 후 ‘인조’의 불안감은 광기로 변하여
                            폭주하기 시작하고<br>세자의 죽음을 목격한 ‘경수’로 인해 관련된 인물들의 민낯이 서서히 드러나게 되는데...
                        </div>
                        <div class="more-btn">
                            <button type="button" class="btn">
                                <span>더보기</span>
                                <i class="iconset ico-btn-more-arr"></i>
                            </button>
                        </div>
                    </div>
                    <div class="movie-info">
                        <p>상영타입 : 2D</p>
                        <div class="line">
                            <p>감독 : 안태진</p>
                            <p>장르 : 스릴러/118분</p>
                            <p>등급 : 15세이상관람가</p>
                            <p>개봉일 : 2022.11.23</p>
                        </div>
                        <p>출연진 : 류준열, 유해진, 최무성, 조성하, 박명훈, 김성철, 안은진, 조윤서</p>
                    </div>
                    <div class="movie-graph">
                        <div class="col">
                            <dl>
                                <dt>실관람 평점</dt>
                            </dl>
                        </div>
                        <div class="col">
11
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>