<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MegaBox :: 영화 상세보기</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/mg_movie/movie/resources/stylesheets/movie-detail.css}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script th:inline="javascript">
        let amounts = [[${audienceOfDay}]]
    </script>
    <script defer th:src="@{/mg_movie/movie/resources/scripts/movie-detail.js}"></script>
</head>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<body>
<main class="--main">
    <div class="container">
        <div class="page-util" id="pageUtil">
            <div class="inner-wrap">
                <div class="location">
                    <a th:href="@{/}">Home</a>
                    <a th:href="@{./movie}">영화</a>
                    <a th:href="@{./movie}">전체영화</a>
                    <a th:href="@{./movie}">박스오피스</a>
                </div>
            </div>
        </div>
        <div class="contents" id="contents">
            <div class="movie-detail" id="movieDetail">
                <div class="bg-img">
                    <img th:src="${movie.getBackgroundImage()}" alt="background">
                </div>
                <div class="bg-patten"></div>
                <div class="bg-mask"></div>
                <div class="detail-content">
                    <p class="title" th:text="${movie.getTitle()}">올빼미</p>
                    <p class="title-en" th:text="${movie.getTitleEn()}">the night owl</p>
                    <div class="info">
                        <div class="score-container">
                            <p class="title">실관람 평점</p>
                            <div class="score-div">
                                <p class="score"><em th:text="${scoreAvg}">9.2</em></p>
                            </div>
                        </div>
                        <div class="rate">
                            <p class="title">예매율</p>
                            <p class="cnt"><em th:text="${rank}">2</em>위</p>
                            <p class="percentage" th:text="'(' + ${bookingRate} + '%)'"></p>
                        </div>
                        <div class="audience">
                            <p class="title">누적관객수</p>
                            <p class="cnt"><em th:text="${movie.getTotalAudience()}">2,585,755</em>명</p>
                        </div>
                    </div>
                    <div class="poster">
                        <div class="wrap">
                            <p th:class="${movie.getAgeLimit()}"></p>
                            <img th:src="${movie.getMoviePoster()}" src=""
                                 alt="poster">
                        </div>
                    </div>
                    <div class="book">
                        <a th:href="@{/movie/booking}" class="book-link">예매</a>
                    </div>
                </div>
            </div>
            <div class="content-data" id="contentData">
                <div class="inner-wrap">
                    <div class="tab-list" id="tabList">
                        <ul>
                            <li class="on" rel="mainInfoLi">
                                <a rel="mainInfo">주요정보</a>
                            </li>
                            <li rel="commentScoreLi" name="tabList">
                                <a rel="commentScore">실관람평</a>
                            </li>
                            <li rel="moviePostLi" name="tabList">
                                <a rel="moviePost">무비포스트</a>
                            </li>
                        </ul>
                    </div>
                    <div class="movie-summary" rel="movieSummary">
                        <div class="txt" id="summary" th:utext="${movie.getSummary()}"></div>
                        <div class="more-btn">
                            <button type="button" class="btn" rel="moreBtn">
                                <span rel="moreBtnText">더보기</span>
                                <i class="iconset ico-btn-more-arr"></i>
                            </button>
                        </div>
                    </div>
                    <div class="movie-info">
                        <p>상영타입 :&nbsp;</p>
                        <p class="value" th:text="${movie.getScreenType()}">2D</p>
                        <div class="line">
                            <p>감독 :&nbsp;</p>
                            <p class="value" th:text="${movie.getDirector()}">안태진</p>
                            <p>장르 :&nbsp;</p>
                            <p class="value" th:text="${movie.getGenre() + ' / ' + movie.getRunningTime() + '분'}">스릴러/118분</p>
                            <p>등급 :&nbsp;</p>
                            <p class="value" th:if="${movie.getAgeLimit().equals('ageAll')}">전체관람가</p>
                            <p class="value" th:if="${movie.getAgeLimit().equals('age12')}">12세이상관람가</p>
                            <p class="value" th:if="${movie.getAgeLimit().equals('age15')}">15세이상관람가</p>
                            <p class="value" th:if="${movie.getAgeLimit().equals('age18')}">청소년관람불가</p>
                            <p>개봉일 :&nbsp;</p>
                            <p class="value" th:text="${#dates.format(movie.getReleaseDate(), 'yyyy.MM.dd')}">2022.11.23</p>
                        </div>
                        <p>출연진 :&nbsp;</p>
                        <p th:text="${movie.getActor()}">류준열, 유해진, 최무성, 조성하, 박명훈, 김성철, 안은진, 조윤서</p>
                    </div>
                    <div class="movie-graph">
                        <div class="col">
                            <dl>
                                <dt>실관람 평점</dt>
                            </dl>
                            <div class="score">
                                <div class="circle">
                                    <em th:text="${scoreAvg}">9.2</em>
                                </div>
                            </div>
                            <dl>
                                <dt>예매율</dt>
                                <dd class="percentage">
                                    <span th:text="${bookingRate} + '%'">3.2%</span>
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt>누적관객수</dt>
                                <dd class="total" th:text="${movie.getTotalAudience()} + '명'">
                                    2,652,071
                                </dd>
                            </dl>
                            <div class="graph">
                                <canvas id="chart" height="205", width="220"></canvas>
                                <img src="https://www.megabox.co.kr/static/pc/images/movie/no-graph04.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="comment-info">
                        <h2 class="comment-info-title">
                            <p th:text="${movie.getTitle()}">올빼미</p>에 대한&nbsp;
                            <span class="comment-cnt" th:text="${commentCnt}">10,906</span>
                            개의 이야기가 있어요!
                        </h2>
                    </div>
                    <div class="comment">
                        <ul>
                            <div class="comment-container">
                                <li class="text-form">
                                    <div class="text-area">
                                        <div class="user-profile">
                                            <div class="profile-img">
                                                <img src="https://img.megabox.co.kr/static/pc/images/common/ico/ico-mega-profile.png"
                                                     alt="MEGABOX">
                                            </div>
                                            <p class="user-id">MEGABOX</p>
                                        </div>
                                        <div class="text-box">
                                            <div class="text-wrap">
                                                <div class="text-content">
                                                    <span th:text="${movie.getTitle()}">올빼미</span>
                                                    재미있게 보셨나요? 영화의 어떤 점이 좋았는지 이야기해주세요.
                                                </div>
                                                <div class="text-write" rel="textWrite">
                                                    <span class="write-btn">
                                                        <i class="iconset ico-story-write"></i>
                                                        <span>관람평 쓰기</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--                            작성 폼-->
                                <li class="text-form write-form" rel="writeForm">
                                    <form class="text-area" id="writeForm">
                                        <input type="hidden" th:value="${mid}" name="mid">
                                        <div class="user-profile">
                                            <div class="profile-img">
                                                <img src="https://www.megabox.co.kr/static/pc/images/mypage/bg-photo.png"
                                                     alt="프로필 사진" title="프로필 사진">
                                            </div>
                                            <input type="hidden" th:value="${session.user}" rel="hiddenUser">
                                            <p class="user-id" th:text="${session.user.getId()}"
                                            th:if="${session.user != null}"></p>
                                            <p class="user-id" th:if="${session.user == null}">MEGABOX</p>
                                        </div>
                                        <div class="text-box">
                                            <div class="text-wrap review">
                                                <div class="title">관람평</div>
                                                <div class="text-content">
                                                    <div class="score">
                                                        <div class="score-form">
                                                            <span>평점</span>
                                                            <label>
                                                                <select name="score" onchange="this.value">
                                                                    <option value="none">== 평점 ==</option>
                                                                    <option value="10" selected>10
                                                                    </option>
                                                                    <option value="9">9
                                                                    </option>
                                                                    <option value="8">8
                                                                    </option>
                                                                    <option value="7">7
                                                                    </option>
                                                                    <option value="6">6
                                                                    </option>
                                                                    <option value="5">5
                                                                    </option>
                                                                    <option value="4">4
                                                                    </option>
                                                                    <option value="3">3
                                                                    </option>
                                                                    <option value="2">2
                                                                    </option>
                                                                    <option value="1">1
                                                                    </option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="recommend">
                                                        <div class="recommend">
                                                            <span>추천할점</span>
                                                            <label>
                                                                <select name="recommend" onchange="this.value">
                                                                    <option value="배우">배우</option>
                                                                    <option value="스토리">스토리</option>
                                                                    <option value="영상미">영상미</option>
                                                                    <option value="연출">연출</option>
                                                                    <option value="OST">OST</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="text-story">
                                                        <label>
                                                        <textarea type="text"
                                                                  placeholder="&#13;&#10;한줄평을 작성해주세요."
                                                                  name="content"></textarea>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="text-write">
                                                    <input type="submit" class="write-btn submit" rel="writeBtn"
                                                           value="작성">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="story-date">
                                        <div class="written-on">
                                            <span rel="commentClose">닫기</span>
                                        </div>
                                    </div>
                                </li>
                            </div>
                            <div class="comment-container" id="commentContainer">
                                <li class="text-form">
                                    <div class="text-area">
                                        <div class="user-profile">
                                            <div class="profile-img">
                                                <img src="https://www.megabox.co.kr/static/pc/images/mypage/bg-photo.png"
                                                     alt="프로필 사진" title="프로필 사진">
                                            </div>
                                            <p class="user-id">choi43**</p>
                                        </div>
                                        <div class="text-box">
                                            <div class="text-wrap review">
                                                <div class="title">관람평</div>
                                                <div class="text-content">
                                                    <div class="point">
                                                        <span>10</span>
                                                    </div>
                                                    <div class="recommend">
                                                        <em>배우</em>
                                                    </div>
                                                    <div class="text-story">
                                                        너무 재미있네요.. 배우들 연기 짱짱~!
                                                    </div>
                                                </div>
                                                <div class="text-write"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="story-date">
                                        <div class="written-on">
                                            <span>방금</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="text-form">
                                    <div class="text-area">
                                        <div class="user-profile">
                                            <div class="profile-img">
                                                <img src="https://www.megabox.co.kr/static/pc/images/mypage/bg-photo.png"
                                                     alt="프로필 사진" title="프로필 사진">
                                            </div>
                                            <p class="user-id">stone12**</p>
                                        </div>
                                        <div class="text-box">
                                            <div class="text-wrap review">
                                                <div class="title">관람평</div>
                                                <div class="text-content">
                                                    <div class="point">
                                                        <span>8</span>
                                                    </div>
                                                    <div class="recommend">
                                                        <em>연출</em>
                                                        <em>스토리</em>
                                                    </div>
                                                    <div class="text-story">
                                                        재밌는데 무서워요 ㅠ.ㅠ
                                                    </div>
                                                </div>
                                                <div class="text-write"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="story-date">
                                        <div class="review on">
                                            <span>3분전</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="text-form">
                                    <div class="text-area">
                                        <div class="user-profile">
                                            <div class="profile-img">
                                                <img src="https://www.megabox.co.kr/static/pc/images/mypage/bg-photo.png"
                                                     alt="프로필 사진" title="프로필 사진">
                                            </div>
                                            <p class="user-id">cocoya**</p>
                                        </div>
                                        <div class="text-box">
                                            <div class="text-wrap review">
                                                <div class="title">관람평</div>
                                                <div class="text-content">
                                                    <div class="point">
                                                        <span>4</span>
                                                    </div>
                                                    <div class="recommend">
                                                        <em>OST</em>
                                                    </div>
                                                    <div class="text-story">
                                                        뻔하네 내용이 ㅋ
                                                    </div>
                                                </div>
                                                <div class="text-write"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="story-date">
                                        <div class="review on">
                                            <span>3분전</span>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>