<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>theater-list</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/mg_movie/movie/resources/stylesheets/notice.css}">
    <script defer th:src="@{/mg_movie/movie/resources/scripts/notice.js}"></script>
    <script type="text/javascript"
            src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=94a12e6ae62af8fbc88e09e7433d6c08"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<form id="form" class="form">
    <div class="container">
        <div class="inner-wrap">
            <div class="content">
                <h2 class="tit">공지사항</h2>
                <div class="tab-block">
                    <ul>
                        <li class="tabBtn on">
                            <button type="button" class="btn">전체</button>
                        </li>
                        <li class="tabBtn">
                            <button type="button" class="btn">메가박스 공지</button>
                        </li>
                        <li class="on tabBtn">
                            <button type="button" class="btn">지점 공지</button>
                        </li>
                    </ul>
                </div>
                <div class="board-list">
                    <p class="result-count">
                        <strong>
                            전체
                            <em class="count">5,831</em>
                        </strong>
                    </p>
                    <div class="empty-box"></div>
                    <div class="selectBox">
                        <select id="region" class="select" onchange="loadTheater();">
                        </select>
                        <span class="icoArrow"><i class="fa-solid fa-angle-down"></i></span>
                    </div>
                    <div class="selectBox" id="theaterSelect">
                        <select id="theater" class="select">
                            <option value=" " selected>극장 선택</option>

                        </select>
                        <span class="icoArrow"><i class="fa-solid fa-angle-down"></i></span>
                    </div>
                    <div class="board-search">
                        <input type="text" id="searchTxt" placeholder="검색어를 입력해 주세요." class="input-text" maxlength="15">
                        <button type="button" id="searchBtn" class="btn-search-input">검색</button>
                    </div>
                </div>
                <div class="table-wrap">
                    <table class="board">
                        <caption>

                        </caption>
                        <colgroup>
                            <col style="width: 72px;">
                            <col style="width: 133px;">
                            <col style="width: 95px;">
                            <col>
                            <col style="width: 116px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">극장</th>
                            <th scope="col">구분</th>
                            <th scope="col">제목</th>
                            <th scope="col">등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안산중앙</td>
                            <td>공지</td>
                            <th>
                                <a href="#">
                                    [안산중앙] 주차할인 적용 시간 임시 확대 안내
                                </a>
                            </th>
                            <td>2022.12.23</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="page-container">
                    <strong class="active">1</strong>
                    <a class="page">2</a>
                    <a class="page">3</a>
                    <a class="page">4</a>
                    <a class="page">5</a>
                    <a class="page">6</a>
                    <a class="page">7</a>
                    <a class="page">8</a>
                    <a class="page">9</a>
                    <a class="page">10</a>
                    <a class="page next"><i class="fa-solid fa-angle-right"></i></a>
                    <a class="page next"><i class="fa-solid fa-angles-right"></i></a>
            <div class="writeButton">
                <a href="#" title="로그인하기" id="writeBtn" class="button">글쓰기</a>
            </div>
                </nav>
            </div>
        </div>
    </div>
</form>
</body>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</html>