<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEET PLAY SHARE, 메가박스</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/index.css}">
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main class="--main">
    <section class="poster-container" th:each="movie, index : ${movies}" th:if="${index.index} < 1">
        <img th:src="${movie.getMoviePoster()}"
             src="http://res.heraldm.com/content/image/2020/06/19/20200619000658_0.jpg" alt="1등영화 사진">
        <div class="poster-box">
            <div class="poster-title">
                <div class="title">
                    <span>박스오피스</span>
                </div>
                <div class="more-movie">
                    <a th:href="@{/movie/movie}">더 많은 영화보기&nbsp;
                        <i class="icon fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="movie-list-container">
                <div class="movie-list-box"
                     th:each="movie, index : ${movies}"
                     th:if="${index.index} < 4">
                    <div class="movie-list">
                        <div class="movie-image">
                            <input type="hidden" th:value="${movie.getIndex()}" rel="hiddenMid">
                            <img th:src="${movie.getMoviePoster()}"
                                 alt="" rel="moviePosterTopFour">
                        </div>
                        <div class="tool-box">
                            <a href="#" class="toggle-container">
                                <div class="like-toggle">
                                    <i class="like fa-regular fa-heart"></i>
                                    <span>4.3K</span>
                                </div>
                            </a>
                            <a th:href="@{/movie/booking}" class="reservation-link">
                                <div class="reservation">예매</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="convenient-container">
                <div class="convenient-box">
                    <form class="form">
                        <label class="label">
                            <input class="search-movie" type="text" placeholder="영화명을 입력해 주세요."
                                   rel="homeSearchMovieInput">
                            <a href="#" rel="homeSearchMovieBtn"><i class="icon fa-solid fa-magnifying-glass"></i></a>
                        </label>
                    </form>
                    <div class="category">
                        <i class="icon fa-solid fa-film"></i>
                        <a th:href="@{/movie/movie}">박스오피스</a>
                    </div>
                    <div class="category">
                        <i class="icon fa-solid fa-ticket"></i>
                        <a th:href="@{/movie/booking}">빠른예매</a>
                    </div>
                    <div class="category">
                        <i class="icon fa-regular fa-calendar-days"></i>
                        <a href="#">상영시간표</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="movie-post-container">
        <div class="mp-title-box">
            <div class="mp-title">박스오피스</div>
            <div class="more-mp">
                <a th:href="@{/movie/movie}"> 박스오피스 더보기
                    <i class="icon fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="best-mp-container">
            <div class="best-mp-image"
                 th:each="movie, index : ${movies}"
                 th:if="${index.index} < 5">
                <div class="mp-image">
                    <img th:src="${movie.getMoviePoster()}"
                         alt="1위 포스트" class="best-image">
                </div>
                <div class="button-container">
                    <a th:href="@{/movie/movie-detail (mid=${movie.getIndex()})}" class="detail-button">
                        <span>상세정보</span>
                    </a>
                    <a th:href="@{/movie/booking}" class="expected-button">
                        <span>예매하기</span>
                    </a>
                </div>
            </div>
            <div class="best-mp-rank"
                 th:each="movie, index : ${movies}"
                 th:if="${index.index} < 1">
                <div class="hashtag"
                     th:each="movie, index : ${movies}"
                     th:if="${index.index} < 4"
                     th:text="'# ' + ${movie.getTitle()}"># 아바타: 물의 길
                </div>
                <div class="empty-box">
                    <span class="detail-mp-rank"
                          th:each="movie, index : ${movies}"
                          th:if="${index.index} < 4"
                          th:utext="${movie.getSummary()}">
                    </span>
                </div>
                <div class="rank-poster-container">
                    <div class="rank-poster-box" th:each="movie, index : ${movies}"
                         th:if="${index.index} < 4">
                        <div class="image">
                            <img th:src="${movie.getMoviePoster()}"
                                 src="https://img.megabox.co.kr/SharedImg/2022/12/19/whzCk46ejtIoWU1eavvF9lJ8rC2Wbvf7_420.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="mg-guide-container">
        <div class="guide-title">
            <span>메가박스 안내</span>
        </div>
        <div class="theater-type-container">
            <a class="theater-type" href="#">
                <div class="type-dolby"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-private"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-boutique"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-mx"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-comfort"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-puppy-cinema"></div>
            </a>
        </div>
        <div class="guide-notice-container">
            <div class="guide-notice-box">
                <div class="point">
                    <span>지점</span>
                </div>
                <div class="notice">
                    <a href="#">[지역] 12월 14일 장비 오류로 인한 MX관 상영 취소 안내</a>
                </div>
                <div class="date">
                    <span>2022.12.14</span>
                </div>
                <div class="more-notice">
                    <a th:href="@{/bbs/notice (bid = ${'notice'})}">
                        더보기
                        <i class="icon fa-solid fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="guide-icon-container">
            <div class="guide-icon-box">
                <div class="service-center">
                    <a th:href="@{/bbs/notice (bid = ${'notice'})}">
                        <i class="icon fa-solid fa-headphones"></i>
                        <span>고객센터</span>
                    </a>
                </div>
                <div class="qna">
                    <a href="#">
                        <i class="icon fa-solid fa-question"></i>
                        <span>자주 묻는 질문</span>
                    </a>
                </div>
                <div class="inquiry">
                    <a href="#">
                        <i class="icon fa-regular fa-circle-user"></i>
                        <span>1:1문의</span>
                    </a>
                </div>
                <div class="group">
                    <a href="#">
                        <i class="icon fa-solid fa-people-group"></i>
                        <span>단체/대관문의</span>
                    </a>
                </div>
                <div class="lost">
                    <a href="#">
                        <i class="icon fa-solid fa-box-open"></i>
                        <span>분실물 문의/접수</span>
                    </a>
                </div>
                <div class="coronation">
                    <a href="#">
                        <i class="icon fa-solid fa-film"></i>
                        <span>대관예매</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>