<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEET PLAY SHARE, 메가박스</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/index.css}">
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main class="--main">
    <section class="poster-container">
        <img src="http://res.heraldm.com/content/image/2020/06/19/20200619000658_0.jpg" alt="1등영화 사진">
        <div class="poster-box">
            <div class="poster-title">
                <div class="title">
                    <span>박스오피스</span>
                </div>
                <div class="more-movie">
                    <a th:href="@{/movie/movie}">더 많은 영화보기</a>
                    <i class="icon fa-solid fa-plus"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <div class="movie-list-box">
                    <div class="movie-list">
                        <div class="movie-image">
                            <img src="https://img.megabox.co.kr/SharedImg/2022/12/08/ntQtE2rRF1Lh0njZZRVYLIdRQsfAErIf_420.jpg"
                                 alt="1위">
                        </div>
                        <div class="tool-box">
                            <a href="#" class="toggle-container">
                                <div class="like-toggle">
                                    <i class="like fa-regular fa-heart"></i>
                                    <span>4.3K</span>
                                </div>
                            </a>
                            <a href="#" class="reservation-link">
                                <div class="reservation">예매</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="movie-list-box">
                    <div class="movie-list">
                        <div class="movie-image">
                            <img src="https://img.megabox.co.kr/SharedImg/2022/11/24/xFO8r2xbXzxoMD9iXbuKC1n5Bo79InhQ_420.jpg"
                                 alt="2위">
                        </div>
                        <div class="tool-box">
                            <a href="#" class="toggle-container">
                                <div class="like-toggle">
                                    <i class="like fa-regular fa-heart"></i>
                                    <span>1.2K</span>
                                </div>
                            </a>
                            <a href="#" class="reservation-link">
                                <div class="reservation">예매</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="movie-list-box">
                    <div class="movie-list">
                        <div class="movie-image">
                            <img src="https://img.megabox.co.kr/SharedImg/2022/11/04/vRDxzQ7BT5UZJSCxjBXTtxdbKA7eYktj_420.jpg"
                                 alt="3위">
                        </div>
                        <div class="tool-box">
                            <a href="#" class="toggle-container">
                                <div class="like-toggle">
                                    <i class="like fa-regular fa-heart"></i>
                                    <span>0.3K</span>
                                </div>
                            </a>
                            <a href="#" class="reservation-link">
                                <div class="reservation">예매</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="movie-list-box">
                    <div class="movie-list">
                        <div class="movie-image">
                            <img src="https://img.megabox.co.kr/SharedImg/2022/11/29/HzA5CV6wC2zCoMlpRNaXzACUZAbbWaLv_420.jpg"
                                 alt="4위">
                        </div>
                        <div class="tool-box">
                            <a href="#" class="toggle-container">
                                <div class="like-toggle">
                                    <i class="like fa-regular fa-heart"></i>
                                    <span>210</span>
                                </div>
                            </a>
                            <a href="#" class="reservation-link">
                                <div class="reservation">예매</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="convenient-container">
                <div class="convenient-box">
                    <form class="form">
                        <label class="label">
                            <input class="search-movie" type="text" placeholder="영화명을 입력해 주세요.">
                            <a href="#"><i class="icon fa-solid fa-magnifying-glass"></i></a>
                        </label>
                    </form>
                    <div class="category">
                        <i class="icon fa-regular fa-calendar-days"></i>
                        <a href="#">상영시간표</a>
                    </div>
                    <div class="category">
                        <i class="icon fa-solid fa-film"></i>
                        <a th:href="@{/movie/movie}">박스오피스</a>
                    </div>
                    <div class="category">
                        <i class="icon fa-solid fa-ticket"></i>
                        <a href="#">빠른예매</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="movie-post-container">
        <div class="mp-title-box">
            <div class="mp-title">무비 포스트</div>
            <div class="more-mp">
                <a href="#"> 무비 포스트 더보기
                    <i class="icon fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="best-mp-container">
            <div class="best-mp-image">
                <div class="mp-image">
                    <img src="https://img.megabox.co.kr/SharedImg/2022/11/28/mvR1VbsPL7Klnbk3wXTWHFPsfSFZGlsA_420.jpg" alt="1위 포스트">
                </div>
                <div class="button-container">
                    <a href="#" class="detail-button">
                        <span>상세정보</span>
                    </a>
                    <a href="#" class="expected-button">
                        <span>상영예정</span>
                    </a>
                </div>
            </div>
            <div class="best-mp-rank">
                <div class="hashtag"># 호두까기 인형</div>
                <div class="empty-box"></div>
                <div class="rank-poster-container">
                    <div class="rank-poster-box">
                        <div class="image">
                            <img src="https://img.megabox.co.kr/SharedImg/2022/11/24/dzBgOTtya75IyBD1hSyyPjmVwZUxrpxM_648.jpg" alt="">
                        </div>
                        <div class="post-review"></div>
                    </div>
                    <div class="rank-poster-box">
                        <div class="image">
                            <img src="https://img.megabox.co.kr/SharedImg/2022/11/24/dzBgOTtya75IyBD1hSyyPjmVwZUxrpxM_648.jpg" alt="">
                        </div>
                        <div class="post-review"></div>
                    </div>
                    <div class="rank-poster-box">
                        <div class="image">
                            <img src="https://img.megabox.co.kr/SharedImg/2022/11/24/dzBgOTtya75IyBD1hSyyPjmVwZUxrpxM_648.jpg" alt="">
                        </div>
                        <div class="post-review"></div>
                    </div>
                    <div class="rank-poster-box">
                        <div class="image">
                            <img src="https://img.megabox.co.kr/SharedImg/2022/11/24/dzBgOTtya75IyBD1hSyyPjmVwZUxrpxM_648.jpg" alt="">
                        </div>
                        <div class="post-review"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mg-guide-container">
        <div class="guide-title">
            <span>메가박스 안내</span>
        </div>
        <div class="theater-type-container">
                <a class="theater-type" href="#">
                    <div class="type-dolby"></div>
                </a>
            <a class="theater-type" href="#">
                <div class="type-private"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-boutique"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-mx"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-comfort"></div>
            </a>
            <a class="theater-type" href="#">
                <div class="type-puppy-cinema"></div>
            </a>
        </div>
        <div class="guide-notice-container">
            <div class="guide-notice-box">
                <div class="point">
                    <span>지점</span>
                </div>
                <div class="notice">
                    <a href="#">[지역] 12월 14일 장비 오류로 인한 MX관 상영 취소 안내</a>
                </div>
                <div class="date">
                    <span>2022.12.14</span>
                </div>
                <div class="more-notice">
                    <a href="#">
                        더보기
                        <i class="icon fa-solid fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="guide-icon-container">
            <div class="guide-icon-box">
                <div class="service-center">
                    <a href="#">
                        <i class="icon fa-solid fa-headphones"></i>
                        <span>고객센터</span>
                    </a>
                </div>
                <div class="qna">
                    <a href="#">
                        <i class="icon fa-solid fa-question"></i>
                        <span>자주 묻는 질문</span>
                    </a>
                </div>
                <div class="inquiry">
                    <a href="#">
                        <i class="icon fa-regular fa-circle-user"></i>
                        <span>1:1문의</span>
                    </a>
                </div>
                <div class="group">
                    <a href="#">
                        <i class="icon fa-solid fa-people-group"></i>
                        <span>단체/대관문의</span>
                    </a>
                </div>
                <div class="lost">
                    <a href="#">
                        <i class="icon fa-solid fa-box-open"></i>
                        <span>분실물 문의/접수</span>
                    </a>
                </div>
                <div class="coronation">
                    <a href="#">
                        <i class="icon fa-solid fa-film"></i>
                        <span>대관예매</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>